<div style="background:#fff;">
	<div style="border-bottom:1px solid #ddd; padding: 10px;  height:24px; ">
		<div style="float:left">
			Ajout d'une filière
		</div>
		<div style="float:right;cursor: pointer; " class="button_closable">
			<img src="{{ asset('image/close_icon.png') }}" style="width:16px; height:auto" alt="x" />
		</div>
	</div>
	
	<div style="background:#fff; padding: 5px; ">
		<div style="padding:5px">
			<div style="margin: 5px 0">
				Ajout d'une filière pour l'établissement <strong>{{ school.name }}</strong>.
			</div>
			<div class="sep"></div>
			<div>
				<form name="form_add_field_popup" method="post" action="{{ path('admin_school_field_add', {'school_id': school.id}) }}">
					<div>                
						<div><label for="name" class="required">Nom du filière * : </label></div>
						<div><input type="text" id="name" name="name" required="required" class="default_input" /></div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div style="border-top:1px solid #ddd;">
		<div style="padding:10px; text-align:right">
			<span class="standar_button button_closable">Annuler</span>
			<span id="add_field_ajax_btn_submit" class="standar_button" onclick="javascript:document.form_add_field_popup.submit()">Ajouter</span>
		</div>
	</div>
</div>