<div class="dialog">
	<div class="header">
		<div class="title">
			Je crée l'évènement
		</div>
		<div class="button_closable">
			<i class="fas fa-times-circle"></i>
		</div>
	</div>
	<div class="pd_5">
		<div class="mg_5 tajustify">
			En confirmant cette étape, votre évènement sera validé par notre équipe. Une fois validé il sera publié dans notre liste d'évènement. 
			A noter qu'avant la validation vous ne pouvez pas modifier les détails de votre évènement. 
			Si vous voulez apporter encore quelques modifications, veuillez annuler cette étape.
		</div>
	</div>
	<div class="action">
		<span class="standar_button button_closable">Annuler</span>
		<a class="standar_button" href="{{ path('event_manager_dotovalid', {'event_id' : event.id}) }}">Confirmer la soumission</a>
	</div>
</div>