<div style="background:#fff;">
	<div style="border-bottom:1px solid #ddd; padding: 10px;  height:24px; ">
		<div style="float:left">
			Création d'un évènement
		</div>
		<div style="float:right;cursor: pointer; " class="button_closable">
			<img src="{{ asset('image/close_icon.png') }}" style="width:16px; height:auto" alt="x" />
		</div>
	</div>

	<form name="form_add_event" method="post" action="{{ path('event_manager_doadd_event') }}">
		<div style="background:#fff; padding: 5px; ">
			<div style="padding:5px">
				<div class="info_msg mg_b10 tajustify">
					Cette fenêtre vous permet de créer un évènement. 
					Après avoir fourni le titre, 
					la date/heure debut et la date/heure, qui sont des informations obligatoires, 
					vous allez être redirigé vers la page dans laquelle vous pourrez éditer les détails de l'évènement.
				</div>
				<div class="">
					<div>                
						<div><label for="title" class="required">Titre * : </label></div>
						<div><input type="text" id="title" name="title" required="required"  class="default_input" /></div>
					</div>
					<div>
						<div><label for="datebegin_event" class="required">Date et heure debut * : </label></div>
						<div><input type="text" readonly="true" id="datebegin_event" name="datebeginText" required="required"  class="default_input" /></div>
					</div>
					<div>
						<div><label for="dateend_event" class="required">Date et heure fin * : </label></div>
						<div><input type="text" readonly="true" id="dateend_event" name="dateendText" required="required"  class="default_input" /></div>
					</div>
				</div>
			</div>
		</div>
		<div style="border-top:1px solid #ddd;">
			<div style="padding:10px; text-align:right">
				<span class="standar_button button_closable">Annuler</span>
				<button type="submit" id="add" name="add" class="standar_button">Creer un évènement</button>
				{#
				<span id="add_field_ajax_btn_submit" class="standar_button" onclick="javascript:document.form_add_post.submit()">{{ 'Creer' | trans }}</span>
				#}
			</div>
		</div>
	</form>
</div>