{% extends "front.html.twig" %}

{% block title %}
  Evènements
{% endblock %}

{% block body %}
	<div class="cr">
		<div class="ct">
			<div id="et_list_wrap" class="p_cr" data-type="event">
				<div class="p_load d_n" id="et_load_list">chargement ...</div>
				<div class="mg_10">
					<div class="et_type p_stop">
						{{ include("event/include/event_type_link.html.twig") }}
					</div>
					<div class="sl_type_btm"></div>
				</div>

				{% if events | length > 0 %}
					<div class="pagination et_pagination mg_h10 tacenter">
						{{ include("event/include/pagination_list_event.html.twig") }}
					</div>
					<div id="et_list" class="p_list">
						{% for event in events %}
							{{ include("event/include/event_item.html.twig") }}
						{% endfor %}
						<div class="both"></div>
					</div>
					<div class="pagination et_pagination mg_h10 tacenter">
						{{ include("event/include/pagination_list_event.html.twig") }}
					</div>
				{% else %}
					<div class="pagination et_pagination mg_h10 tacenter"></div>
					<div id="et_list" class="p_list">
						<div class="mg_v20 tacenter">
							<strong>Aucun évènement à afficher</strong>
						</div>
					</div>
					<div class="pagination et_pagination mg_h10 tacenter"></div>
				{% endif %}
				
				<div class="both"></div>
			</div>
		</div>
	</div>
{% endblock %}
