#container{
	
}
#content{
	/*background:#888;*/
	min-height:100px
}


.cr{
	width: 100%;
}

.ct{
	width: 1200px;
	margin: auto;
	
}

@media screen and (max-width: 1220px)
{
	.ct{
		width:auto;
		margin-left:0px;
		margin-right:0px;
	}
}