footer{
}

#footer_navigation{
	background:#eee;
	min-height: 120px;
}

#footer_navigation_content{
	padding: 10px 0;
}


#footer_navigation_content ul{
	padding: 0px;
	margin:0px;
	text-align:center;
	width: 100%;
	box-sizing: border-box;
	overflow: auto;
	margin: 10px 10px 20px;
}


#footer_navigation_content ul li{
	list-style-type: none;
	display: inline-block;
	padding:0 8px
}

#footer_navigation .list_cat{
	text-align:justify; 
	margin: 10px
}

#footer_navigation .list_cat a{
	display:inline-block; 
	margin: 0 2px
}

#newsletter{
	background:#bbb;
	min-height: 100px;
}

#newsletter_content{
	width: 1200px;
	margin: auto;
}

#copyright{
	background:#fff;
	min-height: 30px;
	padding:10px 0;
}

#copyright_content{
}


@media screen and (max-width: 600px)
{
	#footer_navigation .list_cat{
		text-align:center; 
	}
}