#sl_gl{
	background:#ddd;
	padding-top:6px;
}
#sl_dl{
	
}
/**************liste school***************/
#sl_list{
	overflow:hidden
}
.sll{
	float:left;
	width:960px
}

.sl_type_item, .et_type_item{
	display: inline-block;
	margin-right: 10px
}

.sl_type_item a, .et_type_item a{
	color:#999;
}

.sl_type_item a.sl_type_item a:active, .sl_type_item a:focus, .et_type_item a.et_type_item a:active, .et_type_item a:focus {
	outline:none;
}

.sl_type_item a:hover, .et_type_item a:hover{
	color:#555;
}

.sl_type_item.active a, .et_type_item.active a{
	color:#000;
}

.sl_type_btm{
	background: #ddd;
	width: 100%;
	height: 2px
}

#sll_load_list{
	background:rgba(255,255,255,0.8);
	font-size:25px; 
	position:absolute;
	z-index:10;
	box-sizing:border-box; 
	padding-top:50px;
	text-align:center
}
.sll_ct{
	margin:auto
}
.sl_item{
	white-space: normal;
	width:220px;
	box-sizing:border-box;
	margin:10px;
	border:1px solid #ddd;
	border-radius:3px;
	overflow:hidden
}
.sl_listh_cr{
	overflow: hidden;
	height: 270px;
	position: relative;
}
.sl_listh_cr .gdl{
	position: absolute; 
	background-image: linear-gradient(to right, white, transparent); 
	height:270px;
	width:12px;
	z-index:40;
	left:0px
}
.sl_listh_cr .gdr{
	position: absolute; 
	background-image: linear-gradient(to left, white, transparent);
	height:270px;
	width:12px;
	z-index:40;
	right:0px
}
.sl_listh_ct{
	overflow-x:auto;
	overflow-y:hidden;
	white-space: nowrap;
	width: 100%;
}
.sl_listh_cr .sl_item{
	display:inline-block;
}
.sll_ct .sl_item{
	float:left
}
.sl_header{
	width:auto;
	height:140px;
	background:#fff;
	text-align:center;
	overflow:hidden;
	position:relative;
	z-index:5;
}
#sl_view_hidden{
	display:none;
	position: fixed;
	top: 40px;
	height:40px;
	width:100%;
	background:rgba(255,255,255,0.9);
	border-bottom: 1px solid #888;
	box-shadow: 1px 1px 7px #999;
	z-index:49;
}

#sl_view_hidden .logo{
	float:left;
	width: 40px;
	padding-top:4px
}

#sl_view_hidden .label{
	margin-left:44px;
	padding-top:8px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#sl_view_top{
	padding:5px 9px 1px 9px;
	border:1px solid transparent
}

#sl_view_top .sl_view_top_info{
	min-height:110px
}

#sl_view_top .slogan{
	color: #555;
	font-size: 16.5px;
	font-weight: bold;
}

.sl_logo{
	width:100%;
	height:140px;
	background:#fff;
	text-align:center;
	position:absolute;
	z-index:4;
}

.sl_logo img{
	display: block;
	width: 100%;
	height: 100%;
}
.sl_category{
	height: 140px;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 4;
	background:rgba(255,255,255,0.25)
}
.sl_category, .sl_category_item{
	width:100%; 
	text-align:right; 
	color:#000;
	text-shadow: 1px 1px 2px #fff;
	box-sizing:border-box; 
	padding:0 4px; 
	margin-bottom:1px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.sl_short_description{
	box-sizing: border-box;
	padding:3px 3px;
	width:100%;
	height:140px;
	background:rgba(255,255,255,0.9);
	display:none;
	position:absolute;
	overflow:hidden;
	z-index:4;
}
.sl_item:hover .sl_short_description{
	display:block;
}
.sl_label{
	width:auto;
	height:65px;
	background:#eee;
	text-align:center;
	overflow:hidden
}
.sl_shortname{
	font-weight:bold
}
.sl_action{
	width:auto;
	height:40px;
	background:#f8f8f8;
	text-align:center;
}
.sl_action_about, .sl_action_bg, .sl_action_at, .sl_action_evaluation, .sl_action_doc, .sl_action_et{
	display:inline-block;
	width: 39px;
	height:32px;
	margin:4px 0px;
	background: #f5f5f5;
	vertical-align: top;
	box-sizing:border-box;
}
.sl_action_about:hover, .sl_action_bg:hover, .sl_action_at:hover, .sl_action_evaluation:hover, .sl_action_contact:hover, .sl_action_doc:hover, .sl_action_et:hover{
	background: #ffffff;
	border: 1px solid #ddd;
}
.sl_action_about a, .sl_action_bg a, .sl_action_at a, .sl_action_evaluation a, .sl_action_contact a, .sl_action_doc a, .sl_action_et a{
	display:block;
	padding-top:4px
}
.sl_action_bg a img, .sl_action_at a img, .sl_action_evaluation a img, .sl_action_contact a img, .sl_action_doc a img, .sl_action_et a img{
	filter: brightness(100%);
	-webkit-filter: brightness(100%);
	-moz-filter: brightness(100%);
	-o-filter: brightness(100%);
	-ms-filter: brightness(100%);
}
.sl_action_about a:hover img{
	filter: brightness(80%);
	-webkit-filter: brightness(80%);
	-moz-filter: brightness(80%);
	-o-filter: brightness(80%);
	-ms-filter: brightness(80%);
}
.sl_action_bg a:hover img, .sl_action_at a:hover img, .sl_action_evaluation a:hover img, .sl_action_contact a:hover img{
	filter: brightness(50%);
	-webkit-filter: brightness(50%);
	-moz-filter: brightness(50%);
	-o-filter: brightness(50%);
	-ms-filter: brightness(50%);
}
/*
.sl_action_about, .sl_action_evaluation{
	width: 50px;
}
*/
.category_title, .search_title{
	border: 1px solid #ddd; 
	background: #eee;
	padding: 10px; 
	font-weight: bold; 
	margin-top: 10px
}
.sll_pagination{
	margin:10px 0;
	text-align:center
}
.sll_pagination_item, .pagination_item{
	display:inline-block;
	box-sizing:border-box;
	min-width:40px;
	box-sizing: border-box;
	padding: 5px;
	padding:6px 0;
	text-align:center;
	border : 1px solid #ddd; 
	margin-bottom: 3px;
}
.sll_pagination_item:hover, .pagination_item:hover{
	border : 1px solid #aaa; 
}
.sll_pagination_item.active, .pagination_item.active{
	background:#eee
}
.slr{
	margin-left:960px;
	border-top:1px solid transparent;
	width:240px
}
/**************end liste school************/
#sl_onglet_head{
	/*border-bottom: 2px solid #ccc; */
	margin: 0px 0 0 0; 
	padding-top:10px;
	background:#ddd;
}
#sl_onglet_head .tab_sl_item{
	cursor:pointer;
	display:inline-block;
	padding: 10px 10px;
	color:#444;
	background:#bbb;
	/*border-radius: 4px 4px 0 0;*/
}

#sl_onglet_head .tab_sl_item:active, #sl_onglet_head .tab_sl_item:focus
{
	outline:none;
}

.tab_sl_item .img.logo{
	width:19px;
	height:19px;
	border-radius: 3px;
	border: 1px solid #ccc
}

.tab_sl_item .img.icon{
	width:19px;
	height:19px;
	border: 1px solid transparent
}

#sl_onglet_head .tab_sl_item .wrap{
	display:inline-block;
	vertical-align:middle;
}
#sl_onglet_head .tab_sl_item .img{
	display:inline-block;
	vertical-align:bottom;
}

#sl_onglet_head .tab_sl_item.selected{
	color:#000;
	background:#fff;
}

.content_tab_sl_item{
	display: none;
}

.content_tab_sl_item.active{
	display: block;
}

/*prev next link*/
.sl_prev_link{
	display:block;
	width: 50%;
	float: left;
	text-align: left
}
.sl_prev_link .direction{
	display: inline-block;
	border-right: 8px solid #444;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 0px solid transparent;
}
.sl_prev_link .logo{
	display: block;
	float: left
}
.sl_prev_link .logo img{
	border : 1px solid #ddd
}
.sl_prev_link .label{
	display: block;
	margin-left: 37px;
	margin-top: 8px;
}
.sl_nex_link{
	display:block;
	width: 50%;
	float: left;
	text-align: right
}
.sl_nex_link .direction{
	display: inline-block;
	border-left: 8px solid #444;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 0px solid transparent;
}
.sl_nex_link .logo{
	display: block;
	float: right
}
.sl_nex_link .logo img{
	border : 1px solid #ddd
}
.sl_nex_link .label{
	display: block;
	margin-right: 37px;
	margin-top: 8px;
}

.sl_related_label{
	margin:10px;
	font-weight:bold;
	background:#eee;
	border:1px solid #ddd;
	padding:5px
}

/***********begin school of the day ********************/
#sl_oftheday_title{
	font-size: 18px; 
	margin:10px; 
	font-weight:bold;
	cursor:pointer;
}
#sl_oftheday_desc{
	margin:10px;
	display:none;
	text-align:justify;
}
#sl_oftheday_wrap{
	margin:10px;
}
.sl_oftheday  .cover_box{
	border-radius:4px; 
	box-sizing:border-box; 
	border: 2px solid #ccc;
	width:100%;
	min-height:300px;
	position:relative; 
	z-index:5;
}
.sl_oftheday  .label{
	margin-left:184px;
	margin-top:165px;
	background:transparent;
}
.sl_oftheday  .label a{
	color:#fff;
	font-size:18px;
	text-shadow: 1px 1px 3px #000;
}
.sl_oftheday  .logo_box{
	float:left;
	width:174px;
	position:relative; 
	z-index:6;
}
.sl_oftheday  .logo_box img{
	background:#fff; 
	width: 160px; 
	height: 160px; 
	border:2px solid #ccc;
	border-radius:5px;
	margin-top:-132px; 
	margin-left:14px;
	position:relative; 
	z-index:7
}
.sl_oftheday  .link_box{
	margin-left:184px; 
	/*height:40px; */
	background:#fff;
	text-align:right;
	box-sizing:border-box; 
	padding:0 6px
}
.sl_oftheday .link_item{
	height:32px;
	margin-left:4px;
	margin-top:4px;
	box-sizing:border-box; 
	background:#fff; 
	border:1px solid #bbb;
	display:inline-block;
	overflow:hidden
}
.sl_oftheday .link_item a{
	display:block;
	padding:5px 10px;
	
}
.sl_oftheday .link_item a:hover{
	background:#eee;
}
.sl_oftheday .under{
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd; 
	border-radius:0 0 4px 4px ;
	height:14px;width:100%; 
	box-sizing:border-box;
	margin-top:-13px;
}
/***********end school of the day ********************/
/*********** begin school of the day right list********************/
#sl_oftheday_right .title, .slr_list_cat .title{
	font-size: 18px; 
	margin:10px 10px 0px 10px ; 
	font-weight:bold; 
	background:#ddd; 
	text-align:center; 
	padding:10px; 
	border-bottom:3px solid #aaa
}
#sl_oftheday_right .not_resp{
	display:block;
}
#sl_oftheday_right .resp{
	display:none;
}
#sl_oftheday_right .sl_desc{
	margin:10px;text-align:center
}
/**view school**/
#sl_view_logo{
	width: 100px; 
	height: 100px; 
	border:4px solid #ddd; 
	border-radius:7px;
	margin-top:-30px;
	background:#fff;
	display: inline-block;
	overflow: hidden;
}
#sl_view_name{
	margin-left: 120px; 
	color:#333; 
	font-size:17px; 
	margin-bottom: 6px;
	font-weight:bold
}

#sl_view_categories{
	margin-left: 120px;
}

#sl_view_categories a.sl_cat_item{
	display: inline-block;
	background: #bbb;
	padding: 2px 6px;
	margin: 4px;
	border-radius: 6px;
	vertical-align:middle
}

#sl_view_categories a.all_cat_link img{
	width:22px;
	height:22px;
	display: inline-block;
	margin-right:4px;
	vertical-align:middle
}

#sl_view_description{
	margin-left: 120px;
	text-align:justify
}
#sl_view_action{
	margin-left: 120px; 
	margin-top:10px
}

#sl_view_action .subscription_btn{
	color:#2981c5;
	border:1px solid #2981c5;
	padding: 4px;
	border-radius: 3px;
	display: inline-block;
	background: #e2f1ff;
}

#sl_view_action .unsubscription_btn{
	color:#a92c32;
	border:1px solid #a92c32;
	padding: 4px;
	border-radius: 3px;
	display: inline-block;
	background: #f8c7c7;
}

/*****************tab about ***************/

.content_tab_header_content{
	background: #fff;
    height: 32px;
    width: auto;
}
.content_tab_header_item{
	box-sizing: border-box;
	max-width: 25%;
    cursor: pointer;
    float: left;
    height: 32px;
    padding: 0 8px;
	color:#666;
}
.content_tab_header_item .content_tab_header_item_text{
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.content_tab_header_item.selected{
	color:#000
}
.content_tab_header_item .content_tab_header_item_text{
	padding-top:6px;
}
.content_tab_header_sep{
	background: #eee;
    height: 2px;
    padding: 2px 0;
    width: auto;
}
.content_tab_header_sep_slide{
	background: #bbb;
    display: block;
    height: 2px;
    width: 0px;
}
.content_tab_content_item{
    display: none;
}
.content_tab_content_item.selected{
    display: block;
}

/*page categorie*/


.search_cat_input_left{
	float: left
}

.search_cat_input_right{
	float: right;
	height: 28px;
	padding: 2px;
	box-sizing: border-box
}

.search_cat_input_wrap{
	display: inline-block;
	width: 278px;
}
.search_cat_input{
	border: 1px solid #bbb;
	border-right: none;
	border-radius: 3px 0 0 3px;
	width: 250px;
	height: 28px;
	padding: 5px;
	box-sizing: border-box;
	font-family: calibri, arial;
	font-size: 16px;
	display: inline-block;
}
.search_cat_reset{
	border: 1px solid #bbb;
	border-left: none;
	border-radius: 0 3px 3px 0;
	height: 28px;
	width: 28px;
	padding: 5px;
	box-sizing: border-box;
	background: #fff;
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
}

.sl_list_cat{
	margin:auto;
	width:100%;
	margin-bottom:10px;
}

.sl_list_cat .cat_item{
	box-sizing : border-box;
	float:left;
	width: 300px;
	padding: 10px
}

.slr_list_cat .cat_item{
	margin:10px 
}

.cat_item .cat_item_content{
	border:1px solid #ddd;
	text-align:center;
	border-radius:3px;
	background: #f8f8f8
}

.cat_item .libelle{
	display:block;
	padding: 10px 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.cat_item .sl_illustration{
	display:block;
}

.cat_item .sl_illustration .logo{
	height:52px;
	display:block
}

.cat_item .sl_illustration .logo .logo_content{
	width: 40px;
	height:40px;
	float:left;
	display:block
}

.cat_item .sl_illustration .logo .logo_content img{
	width:40px;
	height:40px;
	margin:5px;
	border: 1px solid #ddd;
	display:inline-block
}

.cat_item .sl_illustration .sl_illustration_txt{
	margin-left: 52px;
	margin-right: 5px;
	text-align:left;
	display:block
}

.cat_item .sl_illustration .sl_illustration_txt .sigle{
	padding-top: 4px;
	font-weight:bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display:block;
	text-align: left;
}

.cat_item .sl_illustration .sl_illustration_txt .name{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display:block;
	text-align: left;
}
/*****************tab about ***************/
@media screen and (max-width: 700px)
{
	#sl_view_logo{
		margin-top:-40px;
	}
	#sl_view_name_category{
		min-height:70px
	}
	#sl_view_description{
		margin-left: 0px;
	}
	#sl_view_action{
		margin-left: 0px; 
	}
}

/**** tab evaluation *****/
.eval_star_item, .eval_star_view_item{
	border-radius:50%; 
	width:14px; 
	height:14px; 
	border:1px solid #2a2;
	background:#fff;
}
.eval_star_item{
	cursor:pointer; 
}
.eval_star_item.selected, .eval_star_view_item.selected{
	background:#2a2;
}

/* school map */
.nav_sl_map_cr{
	position:absolute;
	width:100%; 
	text-align:center
}
.nav_sl_map{
	display:inline-block; 
	margin:auto; 
	margin-top: 10px; 
	border-radius: 6px; 
	background:rgba(255,255,255,0.85);
	padding:5px;
	position: relative;
	z-index: 1;
}
#sl_map{
	height:520px; 
	background:#ddd;
	resize: vertical
}
.link_in_map{
	cursor:pointer;
	padding: 5px 10px;
	display:inline-block;
	border-radius: 4px 
}
.link_in_map:hover{
	background: #ddd;
}
.link_in_map.active{
	background: #bbb;
}

@media screen and (max-width: 1200px)
{
	.sll{
		width: calc(100% - 240px);
	}
	.sll_ct{
		width: 720px;
	}
	.slr{
		margin-left: calc(100% - 240px);
	}
}


@media screen and (max-width: 960px)
{
	.sll_ct{
		width: 480px;
	}
}


@media screen and (max-width: 720px)
{
	.sll{
		width: 100%;
	}
	.sll_ct{
		width: 480px;
	}
	.slr{
		margin-left: 0px;
		clear:both;
		width: 100%;
	}

	#sl_oftheday_right .not_resp{
		display:none;
	}
	#sl_oftheday_right .resp{
		display:block;
	}
}

@media screen and (max-width: 600px)
{

	#sl_onglet_head .tab_sl_item{
		width: 20%;
		box-sizing:border-box;
		border-radius:0px;
		padding: 4px 2px;
		font-size: 15px;
	}

	#sl_onglet_head .tab_sl_item .wrap{
		text-align:center;
		width:100%
	}

	#sl_onglet_head .tab_sl_item .img{
		display:block;
		margin:auto;
	}

	#sl_onglet_head .tab_sl_item .label{
		display:block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

@media screen and (max-width: 530px)
{
	.hidden_530{
		display: none;
	}
}

@media screen and (max-width: 480px)
{
	.sll_ct{
		width: 240px;
	}
	.hidden_480{
		display: none;
	}
}

@media screen and (max-width: 500px)
{

	.sll_pagination_item{
		min-width:32px;
	}

	.search_cat_input_left{
		float: none;
	}

	.search_cat_input_right{
		float: none;
	}
	.label_search_cat_input{
		display: block;
	}
	.search_cat_input_wrap{
		display: block;
		width: 100%;
		box-sizing: border-box;
	}
	.search_cat_input{
		width: calc(100% - 28px);
	}
}


@media screen and (max-width: 450px)
{
	#sl_onglet_head {
		text-align: center;
	}
	.sl_oftheday .cover_box {
		min-height: 240px;
	}
	.sl_oftheday .logo_box {
		 width: 130px;
	 }
	.sl_oftheday .logo_box img {
		width: 110px;
		height: 110px;
		margin-top: -77px;
		margin-left: 8px;
	}
	.sl_oftheday .label {
		margin-left: 125px;
		margin-top: 158px;
	}
	.sl_oftheday .link_box {
		margin-left: 135px;
		padding: 0;
	}
	.sl_oftheday .link_box .link_item{
		margin-left: 2px;
	}
	.sl_oftheday .link_box .link_item a{
		padding: 5px 8px;
	}
	#sl_view_categories{
		margin-left: 0px;
		clear:both;
		margin-bottom: 5px
	}
}

@media screen and (max-width: 1200px)
{
	.sl_list_cat{
		width:900px;
	}
}

@media screen and (max-width: 900px)
{
	.sl_list_cat{
		width:600px;
	}
}

@media screen and (max-width: 600px)
{
	.sl_list_cat{
		width:300px;
	}
}