body{
	margin:0px;
	font-family: calibri, arial;
	font-size: 16px;
}

a{
	text-decoration:none;
	color:#222;
}

a:active, a:focus {
	outline:none;
}

a:hover{
	color:#299;
}
.bold{
	font-weight:bold
}

.default_input{
	border: 1px solid #bbb;
	border-radius: 3px;
	width: 350px;
	height: 30px;
	padding:5px;
	box-sizing: border-box;
	font-family: calibri, arial;
	font-size: 16px;
	max-width: 100%;
}

.a_list_search_input{
	border-radius: 3px 0 0 3px;
	border-right: none;
	display: inline-block;
	vertical-align: middle;
	width: 250px;
}

.a_list_search_reset{
	border-radius: 0 3px 3px 0;
	border: 1px solid #bbb;
	border-left: none;
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 30px;
	padding:5px;
	box-sizing: border-box;
	background:#fff;
	text-align: center;
	cursor: pointer;
}

.default_input:focus{
	box-shadow: 1px 1px 5px #ccc;
}
.default_textarea{
	border: 1px solid #bbb;
	border-radius: 3px;
	width: 100%;
	padding:5px;
	box-sizing: border-box;
	font-family: calibri;
	font-size:16px;
	resize:vertical;
	min-height: 100px;
	font-family: calibri, arial;
	font-size: 16px;
}
.default_textarea_2{
	border: 1px solid #bbb;
	border-radius: 3px;
	width: 350px;
	padding:5px;
	box-sizing: border-box;
	font-family: calibri;
	font-size:16px;
	resize:vertical;
	min-height: 80px;
	font-family: calibri, arial;
	font-size: 16px;
}
.default_textarea:focus, .default_textarea_2:focus{
	box-shadow: 1px 1px 5px #ccc;
}


/**************  style container  ***************/

#container{
	
}
#content{
	/*background:#888;*/
	min-height:100px
}


.cr{
	width: 100%;
}

.ct{
	width: 1200px;
	margin: auto;
	
}

.entity_ct{
	overflow: auto;
}

.item_test{
	background: transparent;
	float: left;
	width: 240px; 
}
.item_test div{
	background: #888;
	margin: 10px;
	min-height: 300px;
}

.contribution_link{
	position: absolute; 
	margin-top: -38px;  
	padding: 5px; 
	border-radius: 0px
}

.contribution_link .link2{
	cursor: pointer;
	text-shadow: 0px 0px 1px #000;
	color: #fff
}

.contribution_link .link2:hover{
	color:#ddd;
}

.label_title{
	border: 1px solid #ddd; 
	background:#f8f8f8; 
	padding: 8px;
	margin:10px 0
}

.pm_bloc{
}

.pm_form{
	float:left; 
	width:350px;
}

.pm_form_wrap{
	margin:10px 0;
}

.pm_form_wrap .sex_item{
	display:inline-block
}

.pm_desc{
	margin-left:370px
}

.pm_desc h1{
	font-size:16px;
	font-weight:bold;
	margin-bottom:10px
}

.pm_desc p{
	text-align:justify
}

.home_info{
	display: flex;
	flex-wrap: wrap;
}
.home_sl_info{
	width:33%;
}

.home_pm_info{
	width:34%;
}

.home_fm_info{
	width:33%;
}

.home_item_ct{
	margin:0 5px;
	border:1px solid #ddd; 
	background:#f9f9f9;
	text-align:center;
	box-shadow: 0px 0px 5px #ccc;
	box-sizing: border-box;
	height: 100%;
}

.home_item_ct .illustration{
	font-weight:bold;
	border: 2px solid #000;
	border-radius:50%;
	margin:auto;
	padding: 12px 4px 4px 4px;
	width:70px;
	height:70px;
	box-sizing:border-box;
	text-align:center
}

.home_item_ct .illustration img{
	width:40px;
	height:40px;
}

.list_tag .tag_item, .list_school .school_item{
	display: block;
	margin-right: 6px;
	margin-bottom: 6px;
	background: #ddd;
	padding: 4px 8px;
	border-radius: 5px;
	cursor:pointer;
	float: left;
	clear: left;
}

.list_tag .tag_item .state_loading img, .list_school .school_item .state_loading img{
	width:10px; 
	height:10px;
	display: inline-block;
	vertical-align: middle;
}

/*spinner loading */
#spinnerloading {position:fixed;z-index:10000;background:rgba(0,0,0,0.6); color:#fff;text-align:center; font-size:20px}
#spinnerloading div {height:40px}
#spinnerloading div span {height:30px;}

/* team page */
.team_user_list{
	display: flex;
	flex-wrap: wrap;
}

.team_user_list .userteam_item_wrap{
	width: 25%;
	padding: 10px;
	box-sizing: border-box;
	margin-bottom: 10px;
}

.team_user_list .userteam_item_wrap .userteam_item{
	/*border: 1px solid #ddd;*/
	text-align: center;
	height: 100%;
}

.team_user_list .userteam_item_wrap .userteam_item .avatar{
	width: 116px;
	height: 116px;
	margin: auto;
	border: 5px solid #eee;
	border-radius: 50%;
	overflow: hidden;
}

/*visibility password register*/
#password{
	padding-right: 30px
}
.v_pwd_wrap{
	cursor: pointer;
	margin-left: -30px
}
.v_pwd img{
	width:18px; 
	height:18px;
	display: inline-block; 
	vertical-align: middle;
}
.show_pwd.v_pwd{
	display: inline-block;
	padding: 5px 6px;
}
.hide_pwd.v_pwd{
	display: none;
	padding: 5px 6px;
}

/* prev next link */

/*prev next link*/
.prev_link{
	display:block;
	float: left;
	text-align: left;
	max-width: 50%;
}
.prev_link .direction{
	display: inline-block;
	border-right: 8px solid #444;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 0px solid transparent;
}
.prev_link .logo{
	display: block;
	float: left
}
.prev_link .logo img{
	border : 1px solid #ddd
}
.prev_link .label{
	display: block;
	margin-left: 37px;
	margin-top: 8px;
}
.prev_link .label.post{
	margin-top: -2px;
}
.next_link{
	display:block;
	float: right;
	text-align: right;
	max-width: 50%;
}
.next_link .direction{
	display: inline-block;
	border-left: 8px solid #444;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 0px solid transparent;
}
.next_link .logo{
	display: block;
	float: right
}
.next_link .logo img{
	border : 1px solid #ddd
}
.next_link .label{
	display: block;
	margin-right: 37px;
	margin-top: 8px;
}
.next_link .label.post{
	margin-top: -2px;
}


.search_input_cr{
	background: #f9f9f9; 
	border: 1px solid #e9e9e9
}

.search_input_left{
	float: left
}

.search_input_right{
	float: right;
	height: 28px;
	padding: 2px;
	box-sizing: border-box
}

.search_input_wrap{
	display: inline-block;
	width: 278px;
}
.search_input{
	border: 1px solid #bbb;
	border-radius: 3px;
	width: 100%;
	height: 28px;
	padding: 5px;
	box-sizing: border-box;
	font-family: calibri, arial;
	font-size: 16px;
	display: inline-block;
	padding-right: 25px
}
.search_reset{
	height: 28px;
	width: 28px;
	padding: 5px;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin-left: -28px
}
.search_reset i:hover{
	color: #444;
}

.about_block{
	margin: 20px 0;
}

.about_block .illustration{
	width: 80px ;
	height: 80px ;
}

.about_block .illustration img{
	width: 80px ;
	height: 80px ;
}

.about_block .text{
	text-align: justify
}

.toleft .illustration{
	float: left;
}

.toright .illustration{
	float: right;
}

.toleft .text{
	margin-left: 120px
}

.toright .text{
	margin-right: 120px
}


/***************** tab ***************/
.t_header_content{
	background: #fff;
    height: 32px;
    width: auto;
}
.t_header_item{
	box-sizing: border-box;
	max-width: 25%;
    cursor: pointer;
    float: left;
    height: 32px;
    padding: 0 8px;
	color:#666;
}
.t_header_item .t_header_item_text{
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.t_header_item.selected{
	color:#000
}
.t_header_item .t_header_item_text{
	padding-top:6px;
}
.t_header_sep{
	background: #eee;
    height: 2px;
    padding: 2px 0;
    width: auto;
}
.t_header_sep_slide{
	background: #bbb;
    display: block;
    height: 2px;
	width: 0px;
	transition: all 0.3s ease;
}
.t_content_item{
    display: none;
}
.t_content_item.selected{
    display: block;
}

/*********** style entity common ************/
.form_cmt .ur_avatar{
	width:60px;
	float:left
}
.form_cmt .ur_avatar img{
	width:60px; 
	height: 60px; 
	border-radius: 50%;
	display:block;
}
.form_cmt .detail{
	margin-left:70px
}
.form_cmt .detail .cmt_msg{
	min-height:120px
}
.form_cmt .detail .btn_loading{
	display:none;
	padding:5px;
	border:1px solid transparent;
	margin: 0px 5px 0px 0px;
}
.edit_title{
	background:#ddd; 
	padding: 5px; 
	margin:5px 0; 
	border:1px solid #ccc
}
.edit_title i{
	color: #222;
	font-size: 13px;
}

.bc_info{
	margin: 5px 0; 
	border: 1px solid #ccc; 
	padding: 5px; 
	border-radius: 4px
}

.entity_edit .btn_loading{
	padding:5px;
	border:1px solid transparent;
	margin: 0px 5px 0px 0px;
}
.entity_edit .btn_loading img{
	width: 20px;
}

/************** style event ***************/

#et_list{
	display: flex;
	flex-wrap: wrap;
}
.et_list_tag{
	display: none;
	position: absolute; 
	background:#eee; 
	z-index:5; 
	border:1px solid #ccc
}
.et_list_tag .et_tag_item{
	max-width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.event_item{
	width: 33.333%;
	padding:10px;
	box-sizing: border-box;
}
.event_item .event_image {
	margin-bottom: 0px;
	position: relative;
	overflow: hidden;
	background: #eee;
	text-align: center;
}
.event_item .event_image:before {
    content: '';
    display: block;
    padding-top: 41.666%;
}

.event_item .event_image a img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.event_item .event_image a{
	display: block;
}
.event_item .detail {
	position:absolute; 
	background:rgba(0,0,0,0.4);
	z-index:3;
	display:block;
	top: 0px;
	width: 100%;
	color:#fff;
	box-sizing:border-box; 
	padding:3px 4px 4px
}
.event_item .detail .left{
	display:block; 
	float:left
}
.event_item .detail .right{
	display:block; 
	float:right;
}
.event_item .avatar_wrap {
	position:relative;
	text-align:center; 
	margin:auto; 
	margin-top:-70px; 
	width: 80px; 
	height: 80px;
	border-radius:50%; 
	border: 5px solid #fff;
	background: #fff;
	text-align: center;
}
.event_item .avatar_wrap img{
	width: 80px; 
	height: 80px;
	border-radius:50%;
}
.event_item .et_date_info i{
	color:#444;
}


#et_load_list{
	background:rgba(255,255,255,0.8);
	font-size:25px; 
	position:absolute;
	z-index:10;
	box-sizing:border-box; 
	padding-top:50px;
	text-align:center
}

/*edit event front*/
.meta_info #event_illustration, .meta_info #event_illustration_fix {
    max-width: 300px;
    height: 125px;
}


.list_tag .tag_item:hover{
	background: #ccc;
}

/* event view */
#et_view .introduction{
	text-align:justify; 
	font-weight:bold;
	color: #333;
}
#et_view .cover{
	background:#999; 
	height:240px; 
	width: calc( 100% - 420px ); 
	overflow:hidden; 
	float:left;
	position:relative;					
}
#map_event{
	position:absolute;
	width:100%;
	height:100%; 
	background:#bbb;
	display:none
}
#et_view .title{
	position: absolute;
	top:0px;
	background:rgba(0,0,0,0.35);

	width:100%;
	padding:16px;
	box-sizing:border-box;
	color:#fff;				
}
#et_view .title .list_tags i {
	display: inline-block;
	color: #777;
	vertical-align: middle;
	margin-top: 4px;
	text-shadow: 0px 0px 1px #fff;
}
#et_view .title .list_tags .tag_item {
	display: inline-block;
	background: #777;
	padding: 2px 6px;
	margin: 4px 4px 0 0;
	border-radius: 5px;
	vertical-align: middle;
	color: #fff;
	box-shadow: 0px 0px 1px #fff;
}
#et_view .title .list_tags .tag_item  a{
	color: #fff;
}
#et_view .title .list_tags .tag_item a:hover{
	color: #ddd;
}
#et_view .title h1{
	margin: 0px;
	font-size:18px; 
	/*color:#000;*/
	text-shadow: 1px 1px 2px #000;
}
#et_view .location_wrap{
	text-align:right;
	background:rgba(255,255,255,0.7);
	position: absolute;
	width:100%;
	bottom:0px;
	padding: 10px;
	box-sizing: border-box;
}
#show_map_event{
	display:inline-block; 
	float:left;
	cursor:pointer;
	 padding: 0 12px;
}
#hide_map_event{
	float:left;
	cursor:pointer;
	display:none;
	padding: 0 12px;
}
#et_view .location_wrap .location{
	display:inline-block; 
	float:right;
	width: calc( 100% - 45px );
}
#et_view .participation_block{
	margin-left: calc( 100% - 410px ); 
	background:#789;
	/*height:240px;*/
	position: relative;
	/*border: 1px solid #bbb;*/
	box-sizing: border-box;
	/*overflow: hidden;*/
}
.participation_block .actions{
	position: relative;
	background:#f7f7f7;
	width:100%;
	height:50px;
	padding-top: 10px;
	padding-right: 5px;
	text-align: right;
	box-sizing: border-box;
	border:1px solid #bbb
}
.participation_block .actions .loading{
	display:none; 
	padding-top:4px
}
.participation_block .actions .loading img{
	width:20px; 
	height:20px;
	vertical-align:middle
}
.participation_block .header{
	background:#ddd;
	width:100%;
	height:50px;
	position: relative;
	box-sizing:border-box; 
	border:1px solid #bbb;
	padding:12px
}
.participation_block .body{
	position: relative;
	background:#fff;
	width:100%;
	border-left:1px solid #bbb;
	border-right:1px solid #bbb;
	box-sizing:border-box
}
.participation_block .list{
	position:relative; 
	height:70px; 
	background:#fff; 
	padding:8px;
	box-sizing:border-box;
	white-space:nowrap;
}

.participation_block .list .user_hover_info{
	width: 50px; 
	height: 50px;
	text-align: center;
}

.participation_block .list .user_hover_info img{
	width: 50px; 
	height: 50px;
	border-radius:50%;
}

.participation_block .list .bound_participations{
	width: 50px; 
	height: 50px;
	border-radius:50%;
	display:inline-block; 
	background:#ddd;
	text-align:center;
	vertical-align:top;
	box-sizing:border-box; 
	padding-top:15px;
}

.participation_block .resume{
	height:71px; 
	background:#f8f8f8;
	box-sizing: border-box;
	padding: 10px
}

.participation_block .resume .going, .participation_block .resume .maybe{
	display:inline-block; 
	padding-right:10px
}

.participations_popup{
	cursor:pointer;
}

.list_pt_popup{
	max-height:300px; 
	overflow:auto
}

.list_pt_popup .ur_item .ur_avatar{
	float:left;
	
}

.list_pt_popup .ur_item .ur_avatar img{
	border-radius:50%;
	width: 50px;
	height: 50px;
}

.list_pt_popup .ur_item .detail{
	margin-left:60px;
	padding-top:5px
}

/************* style blog **************/
.bgl{
	float:left;
	/*width:900px;*/
	margin-top:10px;
}
/*
.bgr{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
*/
#list_post{
	display: flex;
	/*justify-content: space-between;*/
	flex-wrap: wrap;
}
.bg_list_header{
	background:#eee;
	border-bottom:1px solid #ddd;
}
.bg_list_header .list{
	z-index: 2;
	text-align: left;
	margin-top: 4px;
	position: absolute;
	display: none;
	background: #f9f9f9;
	border: 1px solid #aaa;
	border-radius: 0px;
	max-height: 300px;
	overflow: auto;
}
.post_item{
	width: 33.333%;
	padding:10px;
	box-sizing: border-box;
}
.post_item .post_title{
    font-size: 17px;
    margin: 0 0 8px;
	border: 1px solid #ddd; 
	background:#f8f8f8; 
	padding: 8px;
}
.post_item .post_title a{
	display:block
}
.post_item .meta_info{
    min-height: 14px;
	margin-bottom: 10px;
}
.post_item .meta_info {

}
.author_info{
	float: left;
}
.author_info img{
	display: inline-block;
	border-radius: 50%;
	vertical-align: middle;
}
.author_info .user_info{
	display: inline-block;
	vertical-align: middle;
}
.conmment_info{
	float: right;
}
.conmment_info i{
	display: inline-block;
	vertical-align: middle;
	color:#444;
	font-size: 20px
}
.conmment_info strong{
	display: inline-block;
	vertical-align: middle;
}
.date_info{
	float: left;
	margin-top: 10px;
}
.date_info i{
	display: inline-block;
	vertical-align: middle;
	color: #444;
	font-size: 20px;
}
.date_info strong{
	display: inline-block;
	vertical-align: middle;
}
.post_action{
	float: right;
	margin-top: 5px;
}
.post_action a{
	margin: 0px;
}
.post_item .post_image {
	margin-bottom: 0px;
	position: relative;
	overflow: hidden;

}
.post_item .post_image:before {
	content: '';
	display: block;
	padding-top: 41.666%;
}
.post_item .post_image a img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.post_item .post_image a{
	display: block;
}


/*edit entity front*/
.edit_header{
	background:#f5f5f5; 
	padding: 5px; 
	border:1px solid #ddd
}

.entity_info{
	z-index:2;
	text-align: left; 
	margin-top: 4px; 
	position: absolute; 
	display: none; 
	background: #f9f9f9; 
	border: 1px solid #aaa; 
	border-radius: 2px;
}

.edit_footer{
	margin:10px 0;
	background:#f5f5f5; 
	padding: 5px; 
	border:1px solid #ddd;
}

.edit_footer .state_loading img{
	width:10px; 
	height:10px;
	display: inline-block; 
	vertical-align: middle;
}

.entity_info i{
	color: #333;
	font-size: 13px;
	display: inline-block;
	width: 15px;
	text-align: center;
}

.meta_info{

}
.meta_info .meta_illustration{
	float:left;
	height: 130px;
	margin:5px 0
}
.meta_info .meta_illustration label{
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}
.meta_info .meta_illustration label .text{
	cursor: pointer;
	position: absolute;
	width: 100%;
	background: rgba(255,255,255,0.8);
	text-align: center;
	box-sizing: border-box;
	padding: 0% 5px;
	height: 0%;
	overflow: hidden;
	transition: all 0.2s ease;
	font-weight: bold;
}
.meta_info .meta_illustration label:hover .text{
	width: 100%;
	padding-top: 14%;
	height: 100%;
}

.meta_info .meta_title{
	margin-left: 310px;
}
.meta_info #post_illustration, .meta_info #post_illustration_fix{
	max-width: 300px;
	height: 125px;
}

.list_tag .tag_item:hover{
	background: #ccc;
}

/* blog view */
.bg_view .introduction{
	text-align:justify; 
	font-weight:bold;
	color: #333;
}
.bg_view .view_info{
	text-align:center;
	margin:10px; 
	position: relative;
}
.bg_view .view_info .cover{
	position:absolute;  
	border-radius:4px; 
	width:100%;
	height:100%;
}

.bg_view .view_info .content{
	filter: blur(0px); 
	border-radius:4px; 
	padding:40px 10px; 
	background:rgba(255,255,255,0.6)
}
.bg_view .view_info .content .title{
	font-weight:bold;
	text-align:center;
	margin-bottom:30px
}
.bg_view .view_info .content .title h1 a{
	font-size:20px; 
	color:#283a3f
}
.bg_view .view_info .content .author_avatar{
	font-size: 24px;
	width: 116px;
	height: 116px;
	border-radius: 50%;
	border: 4px solid #fff;
	margin: auto;
	background: #eee;
}
.bg_view .view_info .content .author_avatar img{
	border-radius:50%;
}
.bg_view .view_info .content .list_tags i{
	display: inline-block; 
	color: #777;
	vertical-align:middle;
	text-shadow: 0px 0px 1px #fff;
}
.bg_view .view_info .content .list_tags .tag_item{
	display: inline-block; 
	background: #777;
	padding: 2px 6px; 
	margin: 4px; 
	border-radius: 5px; 
	vertical-align:middle;
	box-shadow: 0px 0px 1px #fff;
}
.bg_view .view_info .content .list_tags .tag_item a{
	color:#fff; 
}
.bg_view .view_info .content .list_tags .tag_item a:hover{
	color:#ddd; 
}

#bg_load_post_action{
	margin-bottom: 10px;
	background: #fff;
	padding: 10px;
	border-top: 5px solid #ddd;
}

#bg_load_post_action #bg_load_post{
	text-align:center; 
	cursor:pointer; 
	height: 20px;
}

#bg_load_post_action .btn_loading{
	text-align:center;
	display:none;
	height: 15px;
}

#bg_load_post_action .btn_loading img{
	height:10px; 
	width:auto;
	display: block; 
	margin: auto;
}

/***** style common  *******/
.cmt_item .cmt_illustration{
	float:left; 
	width:60px
}
.cmt_item .cmt_illustration img{
	width: 60px; 
	height: 60px; 
	border-radius: 50%
}
.cmt_item .cmt_ct{
	margin-left:70px
}

@media screen and (max-width: 1220px)
{
	.ct{
		width:auto;
		margin-left:0px;
		margin-right:0px;
	}
}

@media screen and (max-width: 1050px)
{
	.team_user_list .userteam_item_wrap{
		width: 33.33%;
	}

}


@media screen and (max-width: 930px)
{
	.event_item {
		margin-bottom: 16px;
		width: 50%;
		clear: both;
	}

	.post_item {
		margin-bottom: 16px;
		width: 50%;
	}
}

@media screen and (max-width: 850px)
{
	#et_view .participation_block{
		margin-left: 0px; 
		width:100%;
	}
	#et_view .cover{
		width:100%; 
		margin-bottom: 10px;
		float: none;			
	}
}

@media screen and (max-width: 790px)
{

	.home_sl_info{
		width:100%;
		margin: 0 0 10px 0;
	}

	.home_pm_info{
		width:50%;
	}

	.home_fm_info{
		width:50%;
	}
}

@media screen and (max-width: 780px)
{
	.team_user_list .userteam_item_wrap{
		width: 50%;
	}
	
    .pm_form{
		float:none;
		width:auto;
	}

	.pm_form_wrap{
		width:350px;
		margin:auto;
	}
	
    .pm_form_wrap .default_input{
		width:100%
	}

	.pm_desc{
		margin-top:10px;
		margin-left:0px
	}
}

@media screen and (max-width: 620px)
{

	.meta_info #event_illustration, .meta_info #event_illustration_fix {
		width: auto;
		max-width: 100%;
		height: auto;
	}
	.meta_info .meta_illustration{
		float:none;
		height: auto;
		text-align: center;
	}

	.meta_info #post_illustration, .meta_info #post_illustration_fix{
		width: auto;
		max-width: 100%;
		height: auto;
	}
	.meta_info .meta_title{
		margin-left: 0px;
	}
}

@media screen and (max-width: 530px)
{
	.event_item{
		width: 100%;
	}

	.post_item{
		margin-bottom:16px;
		width: 100%;
	}
}

@media screen and (max-width: 500px)
{

	.pagination_item{
		min-width:32px;
	}

	.search_input_left{
		float: none;
	}

	.search_input_right{
		float: none;
		padding: 0px;
		height: auto;
	}
	.label_search_input{
		display: block;
	}
	.search_input_wrap{
		display: block;
		width: 100%;
		box-sizing: border-box;
	}
	/*
	.search_input{
		width: calc(100% - 28px);
	}
	*/


	.about_block .illustration{
		width: 80px ;
		height: 80px ;
	}

	.about_block .illustration img{
		width: 80px ;
		height: 80px ;
	}

	.about_block .text{
		text-align: justify
	}

	.toleft .illustration{
		float: none;
		text-align: center;
		width: 100%;
		margin-bottom: 14px;
	}

	.toright .illustration{
		float: none;
		text-align: center;
		width: 100%;
		margin-bottom: 14px;
	}

	.toleft .text{
		margin-left: 0px
	}

	.toright .text{
		margin-right: 0px
	}
}

@media screen and (max-width: 480px)
{
    .default_input{
		height: 40px;
		padding: 10px 5px;
	}
	
	.show_pwd.v_pwd{
		padding: 10px 6px;
	}
	.hide_pwd.v_pwd{
		padding: 10px 6px;
	}
}

@media screen and (max-width: 450px)
{
	body{
		font-size: 16px;
	}
	.home_pm_info{
		width:100%;
		margin: 0 0 10px 0;
	}

	.home_fm_info{
		width:100%;
	}
}

@media screen and (max-width: 390px)
{

	.pm_form_wrap{
		width:100%;
		box-sizing:border-box
	}
}

@media screen and (max-width: 370px)
{
    .default_input, .default_textarea_2{
		width: 100%;
	}
}

/****************  style school  *******************/
#sl_gl{
	background:#ddd;
	padding-top:6px;
}
#sl_dl{
	
}
/* liste school */
#sl_list{
	/*overflow:hidden*/
}
.sll{
	float:left;
	width:960px
}

.sl_type_item, .et_type_item{
	display: inline-block;
	margin-right: 10px
}

.sl_type_item a, .et_type_item a, .et_type_item{
	color:#999;
}

.sl_type_item a.sl_type_item a:active, .sl_type_item a:focus, .et_type_item a.et_type_item a:active, .et_type_item a:focus {
	outline:none;
}

.sl_type_item a:hover, .et_type_item a:hover{
	color:#555;
}

.sl_type_item.active a, .et_type_item.active a, .et_type_item.active{
	color:#000;
}

.sl_type_btm{
	background: #ddd;
	width: 100%;
	height: 2px
}

#sll_load_list{
	background:rgba(255,255,255,0.8);
	font-size:25px; 
	position:absolute;
	z-index:10;
	box-sizing:border-box; 
	padding-top:50px;
	text-align:center
}
.sll_ct{
	margin:auto
}
.sl_item{
	white-space: normal;
	width:220px;
	box-sizing:border-box;
	margin:10px;
	border:1px solid #ddd;
	border-radius:3px;
	overflow:hidden
}
.sl_listh_cr{
	overflow: hidden;
	height: 270px;
	position: relative;
}
.sl_listh_cr .gdl{
	position: absolute; 
	background-image: linear-gradient(to right, white, transparent); 
	height:270px;
	width:12px;
	z-index:40;
	left:0px
}
.sl_listh_cr .gdr{
	position: absolute; 
	background-image: linear-gradient(to left, white, transparent);
	height:270px;
	width:12px;
	z-index:40;
	right:0px
}
.sl_listh_ct{
	overflow-x:auto;
	overflow-y:hidden;
	white-space: nowrap;
	width: 100%;
}
.sl_listh_cr .sl_item{
	display:inline-block;
}
.sll_ct .sl_item{
	float:left
}
.sl_header{
	width:auto;
	height:140px;
	background:#fff;
	text-align:center;
	overflow:hidden;
	position:relative;
	z-index:5;
}
#sl_view_hidden{
	display:none;
	position: fixed;
	top: 40px;
	height:40px;
	width:100%;
	background:rgba(255,255,255,0.9);
	border-bottom: 1px solid #888;
	box-shadow: 1px 1px 7px #999;
	z-index:49;
}

#sl_view_hidden .logo{
	float:left;
	width: 40px;
	padding-top:4px
}

#sl_view_hidden .label{
	margin-left:44px;
	padding-top:8px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#sl_view_top{
	padding:5px 9px 1px 9px;
	border:1px solid transparent
}

#sl_view_top .sl_view_top_info{
	min-height:110px
}

#sl_view_top .slogan{
	color: #555;
	font-size: 16.5px;
	font-weight: bold;
}

.sl_logo{
	width:100%;
	height:140px;
	background:#fff;
	text-align:center;
	position:absolute;
	z-index:4;
}

.sl_logo img{
	display: block;
	width: 100%;
	height: 100%;
}
.sl_category{
	height: 140px;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 4;
	background:rgba(255,255,255,0.25)
}
.sl_category, .sl_category_item{
	width:100%; 
	text-align:right; 
	color:#000;
	text-shadow: 1px 1px 2px #fff;
	box-sizing:border-box; 
	padding:0 4px; 
	margin-bottom:1px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.sl_short_description{
	box-sizing: border-box;
	padding:3px 3px;
	width:100%;
	height:140px;
	background:rgba(255,255,255,0.9);
	display:none;
	position:absolute;
	overflow:hidden;
	z-index:4;
}
.sl_item:hover .sl_short_description{
	display:block;
}
.sl_label{
	width:auto;
	height:65px;
	background:#eee;
	text-align:center;
	overflow:hidden
}
.sl_label a{
	display:block;
	min-height: 65px;
}
.sl_shortname{
	font-weight:bold
}
.sl_action{
	width:auto;
	height:40px;
	background:#f8f8f8;
	text-align:center;
}
.sl_action_about a img{
	display:inline-block; 
	width:20px; 
	height:20px; 
	border-radius: 3px; 
	border: 1px solid #bbb
}
.sl_action_about, .sl_action_bg, .sl_action_et, .sl_action_evaluation, .sl_action_doc, .sl_action_et{
	display:inline-block;
	width: 39px;
	height:32px;
	margin:4px 0px;
	background: #f5f5f5;
	vertical-align: top;
	box-sizing:border-box;
}
.sl_action_about:hover, .sl_action_bg:hover, .sl_action_et:hover, .sl_action_evaluation:hover, .sl_action_contact:hover, .sl_action_doc:hover, .sl_action_et:hover{
	background: #ffffff;
	border: 1px solid #ddd;
}
.sl_action_about a, .sl_action_bg a, .sl_action_et a, .sl_action_evaluation a, .sl_action_contact a, .sl_action_doc a{
	display:block;
	padding-top:4px
}
.sl_action_bg a i, .sl_action_et a i, .sl_action_evaluation a i, .sl_action_contact a i, .sl_action_doc a i{
	color:#777;
	font-size: 20px;
}
.sl_action_about a:hover img{
	filter: brightness(80%);
	-webkit-filter: brightness(80%);
	-moz-filter: brightness(80%);
	-o-filter: brightness(80%);
	-ms-filter: brightness(80%);
}
.sl_action_bg a:hover i, .sl_action_et a:hover i, .sl_action_evaluation a:hover i, .sl_action_contact a:hover i, .sl_action_doc a:hover i{
	color:#333;
}

/* list contact */
#btn_show_map_contacts i{
	font-size: 13px;
}
.contact_item .description{
	border:1px solid #eee; 
	background:#eff6ff; 
	border-radius:3px;
	padding: 5px;
	margin: 5px 0;
}
.contact_item .btn_show_map i{
	font-size: 13px;
}

/* list evaluation */
.evaluation_item .ur_avatar{
	width:50px;
	float:left
}
.evaluation_item .ur_avatar img{
	width:50px; 
	height: 50px; 
	border-radius: 50%
}
.evaluation_item .ev_detail, .evaluation_item .ev_edit_detail{
	margin-left:60px
}
.evaluation_item .ev_detail .mark, .evaluation_item .ev_edit_detail .mark{
	height:26px
}
.evaluation_item .ev_detail .mark .label, .evaluation_item .ev_edit_detail .mark .label{
	padding-top:2px
}

.evaluation_item .ev_edit_detail #sl_evaluation_comment{
	min-height:60px
}
.ev_edit .bloc_action{
	margin-top:5px; 
	border:1px solid transparent
}
.ev_edit .bloc_action .btn_loading{
	display:none;
	padding:5px;
	border:1px solid transparent;
	margin: 0px 5px 0px 0px;
}

/* list document */
.document_item .fileicon{
	float: left;
	width: 55px;
}
.document_item .fileicon img{
	width: 55px; 
	height: 55px;
}
.document_item .doc_detail{
	margin-left: 60px;
}
.document_item .doc_detail .info{
	float: left; 
	width: calc(100% - 170px);
}
.document_item .doc_detail .info strong{
	overflow: hidden; 
	text-overflow: ellipsis; 
	white-space: nowrap;
	display: inline-block;
	width: 100%;
}
.document_item .description{
	border:1px solid #eee; 
	background:#eff6ff; 
	border-radius:3px;
	clear:right;
	padding:5px;
}


.category_title, .search_title{
	border: 1px solid #ddd; 
	background: #eee;
	padding: 10px; 
	font-weight: bold; 
	margin-top: 10px
}
.pagination{
	margin:10px 0;
	text-align:center
}
.pagination_item{
	display:inline-block;
	box-sizing:border-box;
	min-width:40px;
	box-sizing: border-box;
	padding: 5px;
	padding:6px 0;
	text-align:center;
	border : 1px solid #ddd; 
	margin-bottom: 3px;
}
.pagination_item:hover, .pagination_item:hover{
	border : 1px solid #aaa; 
}
.pagination_item.active, .pagination_item.active{
	background:#eee
}
.slr{
	margin-left:960px;
	border-top:1px solid transparent;
	width:240px
}
/**************end liste school************/
#sl_onglet_head{
	/*border-bottom: 2px solid #ccc; */
	margin: 0px 0 0 0; 
	padding-top:10px;
	background:#ddd;
}
.tab_sl_wrap{
	display: flex;
}
#sl_onglet_head .tab_sl_item{
	cursor:pointer;
	display:inline-block;
	padding: 10px 10px;
	color:#444;
	background:#bbb;
	vertical-align: bottom;
}

#sl_onglet_head .tab_sl_item:active, #sl_onglet_head .tab_sl_item:focus
{
	outline:none;
}

.tab_sl_item .img.logo{
	width:19px;
	height:19px;
	border-radius: 3px;
	border: 1px solid #ccc
}

.tab_sl_item i{
	display: inline-block;
	width:19px;
	height:19px;
	border: 1px solid transparent;
	font-size: 18px;
}

#sl_onglet_head .tab_sl_item .wrap{
	display:inline-block;
	vertical-align:middle;
}
#sl_onglet_head .tab_sl_item .img{
	display:inline-block;
	vertical-align:bottom;
}

#sl_onglet_head .tab_sl_item.selected{
	color:#000;
	background:#fff;
}

.ctab_sl_item{
	display: none;
}

.ctab_sl_item.active{
	display: block;
}

.sl_related_label{
	margin:10px;
	font-weight:bold;
	background:#eee;
	border:1px solid #ddd;
	padding:5px
}

/***********begin school of the day ********************/
#sl_oftheday_title{
	font-size: 16px; 
	margin:10px; 
	font-weight:bold;
	cursor:pointer;
	margin-top: 20px;
	margin-bottom: 2px;
}
#sl_oftheday_desc{
	margin:10px;
	display:none;
	text-align:justify;
	margin-top: 0px;
}
#sl_oftheday_wrap{
	margin:10px;
}
.sl_oftheday  .cover_box{
	border-radius:4px; 
	box-sizing:border-box; 
	border: 1px solid #ccc;
	width:100%;
	min-height:300px;
	position:relative; 
	z-index:5;
}
.sl_oftheday  .label{
	margin-left:184px;
	margin-top:165px;
	background:transparent;
}
.sl_oftheday  .label a{
	color:#fff;
	font-size:18px;
	text-shadow: 1px 1px 3px #000;
}
.sl_oftheday  .logo_box{
	float:left;
	width:174px;
	position:relative; 
	z-index:6;
}
.sl_oftheday  .logo_box img{
	background:#fff; 
	width: 160px; 
	height: 160px; 
	border:1px solid #ccc;
	border-radius:5px;
	margin-top:-132px; 
	margin-left:14px;
	position:relative; 
	z-index:7
}
.sl_oftheday  .link_box{
	margin-left:184px; 
	/*height:40px; */
	background:#fff;
	text-align:right;
	box-sizing:border-box; 
	padding:0 6px
}
.sl_oftheday .link_item{
	height:32px;
	margin-left:4px;
	margin-top:4px;
	box-sizing:border-box; 
	background:#fff; 
	border:1px solid #bbb;
	display:inline-block;
	overflow:hidden
}
.sl_oftheday .link_item a{
	display:block;
	padding:5px 10px;
	height: 100%;
}
.sl_oftheday .link_item a i{
	color:#555;
}
.sl_oftheday .link_item a:hover{
	background:#eee;
}
.sl_oftheday .link_item a:hover i{
	color:#000;
}
.sl_oftheday .under{
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd; 
	border-radius:0 0 4px 4px ;
	height:14px;width:100%; 
	box-sizing:border-box;
	margin-top:-13px;
}
/***********end school of the day ********************/
/*********** begin school of the day right list********************/
#sl_oftheday_right .title, .slr_list_cat .title{
	font-size: 18px; 
	margin:10px 10px 0px 10px ; 
	font-weight:bold; 
	background:#ddd; 
	text-align:center; 
	padding:10px; 
	border-bottom:3px solid #aaa
}
#sl_oftheday_right .not_resp{
	display:block;
}
#sl_oftheday_right .resp{
	display:none;
}
#sl_oftheday_right .sl_desc{
	margin:10px;text-align:center
}
/**view school**/
#sl_view_logo{
	width: 100px; 
	height: 100px; 
	border:4px solid #ddd; 
	border-radius:7px;
	margin-top:-30px;
	background:#fff;
	display: inline-block;
	overflow: hidden;
}
#sl_view_name_category #sl_view_name{
	margin-left: 120px; 
	color:#333; 
	font-size:17px; 
	margin-bottom: 6px;
	font-weight:bold
}

#sl_view_categories{
	margin-left: 120px;
}

#sl_view_categories a.sl_cat_item{
	display: inline-block;
	background: #bbb;
	padding: 2px 6px;
	margin: 4px;
	border-radius: 3px;
	vertical-align:middle
}

#sl_view_categories a.all_cat_link{
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
}

#sl_view_categories a.all_cat_link i{
	color: #777;
	font-size: 16px;
}

#sl_view_description{
	margin-left: 120px;
	text-align:justify
}
#sl_view_action{
	margin-left: 120px; 
	margin-top:10px
}

#sl_view_action .subscription_loading{
	display:none;  
	height: 30px; 
	vertical-align:middle;
	padding-top:6px
}

#sl_view_action .subscription_loading img{
	width:20px; 
	height:20px;
	display: inline-block; 
	vertical-align: middle;
}

#sl_view_action .toggle_subscription{
	cursor:pointer
}

#sl_view_action .subscription_btn{
	color:#2981c5;
	border:1px solid #2981c5;
	padding: 5px;
	border-radius: 3px;
	background: #e2f1ff;
}

#sl_view_action .unsubscription_btn{
	color:#a92c32;
	border:1px solid #a92c32;
	padding: 5px;
	border-radius: 3px;
	background: #f8c7c7;
}

/*page categorie*/
.sl_list_cat{
	margin:auto;
	width:100%;
	margin-bottom:10px;
}

.sl_list_cat .cat_item{
	box-sizing : border-box;
	float:left;
	width: 300px;
	padding: 10px
}

.slr_list_cat .cat_item{
	margin:10px 
}

.cat_item .cat_item_content{
	border:1px solid #ddd;
	text-align:center;
	border-radius:3px;
	background: #f8f8f8
}

.cat_item .libelle{
	display:block;
	padding: 10px 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.cat_item .sl_illustration{
	display:block;
}

.cat_item .sl_illustration .logo{
	height:52px;
	display:block
}

.cat_item .sl_illustration .logo .logo_content{
	width: 40px;
	height:40px;
	float:left;
	display:block
}

.cat_item .sl_illustration .logo .logo_content img{
	width:40px;
	height:40px;
	margin:5px;
	border: 1px solid #ddd;
	display:inline-block
}

.cat_item .sl_illustration .sl_illustration_txt{
	margin-left: 52px;
	margin-right: 5px;
	text-align:left;
	display:block
}

.cat_item .sl_illustration .sl_illustration_txt .sigle{
	padding-top: 4px;
	font-weight:bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display:block;
	text-align: left;
}

.cat_item .sl_illustration .sl_illustration_txt .name{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display:block;
	text-align: left;
}
/*****************tab about ***************/
@media screen and (max-width: 700px)
{
	#sl_view_logo{
		margin-top:-40px;
	}
	#sl_view_name_category{
		min-height:70px
	}
	#sl_view_description{
		margin-left: 0px;
	}
	#sl_view_action{
		margin-left: 0px; 
	}
}

/**** tab evaluation *****/
.eval_star_item, .eval_star_view_item{
	border-radius:50%; 
	width:14px; 
	height:14px; 
	border:1px solid #2a2;
	background:#fff;
}
.eval_star_item{
	cursor:pointer; 
}
.eval_star_item.selected, .eval_star_view_item.selected{
	background:#2a2;
}

/* school map */
.nav_sl_map_cr{
	position:absolute;
	width:100%; 
	text-align:center
}
.nav_sl_map{
	display:inline-block; 
	margin:auto; 
	margin-top: 10px; 
	border-radius: 6px; 
	background:rgba(255,255,255,0.85);
	padding:5px;
	position: relative;
	z-index: 1;
}
#sl_map{
	height:520px; 
	background:#ddd;
	resize: vertical
}
.link_in_map{
	cursor:pointer;
	padding: 5px 10px;
	display:inline-block;
	border-radius: 4px 
}
.link_in_map:hover{
	background: #ddd;
}
.link_in_map.active{
	background: #bbb;
}

@media screen and (max-width: 1200px)
{
	.sll{
		width: calc(100% - 240px);
	}
	.sll_ct{
		width: 720px;
	}
	.slr{
		margin-left: calc(100% - 240px);
	}
}


@media screen and (max-width: 960px)
{
	.sll_ct{
		width: 480px;
	}
}


@media screen and (max-width: 720px)
{
	.sll{
		width: 100%;
	}
	.sll_ct{
		width: 480px;
	}
	.slr{
		margin-left: 0px;
		clear:both;
		width: 100%;
	}

	#sl_oftheday_right .not_resp{
		display:none;
	}
	#sl_oftheday_right .resp{
		display:block;
	}
}

@media screen and (max-width: 600px)
{

	#sl_onglet_head .tab_sl_item{
		width: 20%;
		box-sizing:border-box;
		border-radius:0px;
		padding: 4px 2px;
		font-size: 15px;
	}

	#sl_onglet_head .tab_sl_item .wrap{
		text-align:center;
		width:100%
	}

	#sl_onglet_head .tab_sl_item .img{
		display:block;
		margin:auto;
	}

	#sl_onglet_head .tab_sl_item .label{
		display:block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

@media screen and (max-width: 530px)
{
	.hidden_530{
		display: none;
	}
}

@media screen and (max-width: 500px)
{

	#sl_onglet_head .tab_sl_item .label{
		display: none;
	}
	#sl_onglet_head .tab_sl_item .wrap{
		padding: 4px 0;
	}

	.pagination_item{
		min-width:32px;
	}
}

@media screen and (max-width: 480px)
{
	.sll_ct{
		width: 240px;
	}
	.hidden_480{
		display: none;
	}
}


@media screen and (max-width: 450px)
{
	#sl_onglet_head {
		text-align: center;
	}
	.sl_oftheday .cover_box {
		min-height: 240px;
	}
	.sl_oftheday .logo_box {
		 width: 130px;
	 }
	.sl_oftheday .logo_box img {
		width: 110px;
		height: 110px;
		margin-top: -77px;
		margin-left: 8px;
	}
	.sl_oftheday .label {
		margin-left: 125px;
		margin-top: 158px;
	}
	.sl_oftheday .link_box {
		margin-left: 135px;
		padding: 0;
	}
	.sl_oftheday .link_box .link_item{
		margin-left: 2px;
	}
	.sl_oftheday .link_box .link_item a{
		padding: 5px 8px;
	}
	#sl_view_categories{
		margin-left: 0px;
		clear:both;
		margin-bottom: 5px
	}
}

@media screen and (max-width: 1200px)
{
	.sl_list_cat{
		width:900px;
	}
}

@media screen and (max-width: 900px)
{
	.sl_list_cat{
		width:600px;
	}
}

@media screen and (max-width: 600px)
{
	.sl_list_cat{
		width:300px;
	}
}

/*************** style user ********************/
.popup_user_info{
	box-shadow: 1px 1px 5px #999;
	position:absolute;
	border-radius:3px; 
	border:1px solid #eee; 
	background:#fff; 
	padding:10px 10px;
	z-index:10;
	white-space: normal;
}

#ur_gl{
	background:#ddd;
	padding-top:6px;
}
#ur_dl{
	
}
#ur_onglet_head{
	/*border-bottom: 2px solid #ccc; */
	margin: 0px 0 0 0; 
	padding-top:10px;
	background:#ddd;
}
#ur_onglet_head .tab_ur_item{
	cursor:pointer;
	display:inline-block;
	padding: 10px;
	color:#444;
	background:#bbb;
	border-radius: 2px 2px 0 0;
}

#ur_onglet_head .tab_ur_item.selected{
	color:#000;
	background:#fff;
}

.ctab_ur_item{
	display: none;
}
.ctab_ur_item.selected{
	display: block;
}
#change_avatar{
	cursor:pointer;
	position: relative;
}

#change_avatar:hover #change_avatar_label span{
	height:103%;
	padding-top: 46%;
}

#change_avatar_label{
	width:100%; 
	height:100%; 
	position:absolute;
	text-align:center; 
	display:block;
	overflow: hidden;
	border-radius: 50%;
}

#change_avatar_label span{
	display:block; 
	background:rgba(255,255,255,0.8); 
	border: 1px solid #aaa;
	border-radius: 3px;
	width:103%; 
	height:0%;
	box-sizing: border-box;
	padding-top: 0%;
	margin-left:-2px;
	margin-top:-2px;
	overflow: hidden;
	transition: all 0.2s ease;
}

#avatar_wrapper{
	width:116px; 
	height:116px; 
	overflow:hidden; 
	border-radius: 50% 50%; 
	border: 3px solid #ddd;
	background:#fff;
	margin-top: -35px
}

.puser_avatar{
	width: 116px; 
	height: 116px
}

.images_wrapper{
	height: 267px; 
	overflow:auto; 
	margin: 5px 0; 
	text-align:center
}

.images_wrapper .image_item{
	display:inline-block; 
	border: 4px solid #eee; 
	margin:2px;
	border-radius:5px;
	position:relative;
}

.images_wrapper .image_item:hover{
	border-color: #aaa;
}

.images_wrapper .image_item.active{
	border-color: #666;
}

.images_wrapper .user_avatar_popup{
	cursor:pointer;
	display:block;
	width: 116px; 
	height: 116px;
	border-radius:0px
}

.images_wrapper .delete_image{
	cursor:pointer; 
	display:block;
	position:absolute;
	width:18px; 
	height:18px; 
	margin-left:96px;
	margin-top:1px;
	background:#fff;
	border:1px solid #666;
	border-radius:50% 50%;
	padding-top:4px;
	box-sizing:border-box
}

.images_wrapper .delete_image img{
	width:8px;
	height:8px;
	display:block;
	margin:auto
}

.images_wrapper .delete_image:hover{
	background:#aaa;
}

.fas.i_ur{
	font-size: 13px;
	color: #333;
}

.user_hover_info{
	display:inline-block; 
	position: relative;
}

.user_comment_item .illustration_wrap{
	width:60px; 
	height:60px;
	float:left
}

.user_comment_item .illustration_wrap img{
	width:60px;
	height:60px
}

.user_comment_item .comment_wrap{
	margin-left:70px
}