body{
	margin:0px;
	font-family: calibri, arial;
	font-size: 16px;
}

a{
	text-decoration:none;
	color:#222;
}

a:active, a:focus {
	outline:none;
}

a:hover{
	color:#299;
}
.bold{
	font-weight:bold
}

.default_input{
	border: 1px solid #bbb;
	border-radius: 3px;
	width: 350px;
	height: 30px;
	padding:5px;
	box-sizing: border-box;
	font-family: calibri, arial;
	font-size: 16px;
	max-width: 100%;
}

.a_list_search_input{
	border-radius: 3px 0 0 3px;
	border-right: none;
	display: inline-block;
	vertical-align: middle;
	width: 250px;
}

.a_list_search_reset{
	border-radius: 0 3px 3px 0;
	border: 1px solid #bbb;
	border-left: none;
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 30px;
	padding:5px;
	box-sizing: border-box;
	background:#fff;
	text-align: center;
	cursor: pointer;
}

.default_input:focus{
	box-shadow: 1px 1px 5px #ccc;
}
.default_textarea{
	border: 1px solid #bbb;
	border-radius: 3px;
	width: 100%;
	padding:5px;
	box-sizing: border-box;
	font-family: calibri;
	font-size:16px;
	resize:vertical;
	min-height: 100px;
	font-family: calibri, arial;
	font-size: 16px;
}
.default_textarea_2{
	border: 1px solid #bbb;
	border-radius: 3px;
	width: 350px;
	padding:5px;
	box-sizing: border-box;
	font-family: calibri;
	font-size:16px;
	resize:vertical;
	min-height: 120px;
	font-family: calibri, arial;
	font-size: 16px;
}
.default_textarea:focus{
	box-shadow: 1px 1px 5px #ccc;
}


/**************  style container  ***************/

#container{
	
}
#content{
	/*background:#888;*/
	min-height:100px
}


.cr{
	width: 100%;
}

.ct{
	width: 1200px;
	margin: auto;
	
}

.item_test{
	background: transparent;
	float: left;
	width: 240px; 
}
.item_test div{
	background: #888;
	margin: 10px;
	min-height: 300px;
}

.contribution_link{
	position: absolute; 
	margin-top: -38px;  
	padding: 5px; 
	border-radius: 0px
}

.contribution_link .link2{
	cursor: pointer;
	text-shadow: 0px 0px 1px #ffffff;
}

.contribution_link .link2:hover{
	color:#444;
}

.label_title{
	border: 1px solid #ddd; 
	background:#f8f8f8; 
	padding: 8px;
	margin:10px 0
}

.pm_bloc{
}

.pm_form{
	float:left; 
	width:350px;
}

.pm_form_wrap{
	margin:10px 0;
}

.pm_form_wrap .sex_item{
	display:inline-block
}

.pm_desc{
	margin-left:370px
}

.pm_desc h1{
	font-size:16px;
	font-weight:bold;
	margin-bottom:10px
}

.pm_desc p{
	text-align:justify
}

.home_info{
	display: flex;
	flex-wrap: wrap;
}
.home_sl_info{
	width:33%;
}

.home_pm_info{
	width:34%;
}

.home_fm_info{
	width:33%;
}

.home_item_ct{
	margin:0 5px;
	border:1px solid #ddd; 
	background:#f9f9f9;
	text-align:center;
	box-shadow: 0px 0px 5px #ccc;
	box-sizing: border-box;
	height: 100%;
}

.home_item_ct .illustration{
	font-weight:bold;
	border: 2px solid #000;
	border-radius:50%;
	margin:auto;
	padding: 12px 4px 4px 4px;
	width:70px;
	height:70px;
	box-sizing:border-box;
	text-align:center
}

.home_item_ct .illustration img{
	width:40px;
	height:40px;
}

.list_tag .tag_item, .list_school .school_item{
	display: block;
	margin-right: 6px;
	margin-bottom: 6px;
	background: #ddd;
	padding: 4px 8px;
	border-radius: 5px;
	cursor:pointer;
	float: left;
	clear: left;
}

/*spinner loading */
#spinnerloading {position:fixed;z-index:10000;background:rgba(0,0,0,0.6); color:#fff;text-align:center; font-size:20px}
#spinnerloading div {height:40px}
#spinnerloading div span {height:30px;}

/* team page */
.team_user_list{
	display: flex;
	flex-wrap: wrap;
}

.team_user_list .userteam_item_wrap{
	width: 25%;
	padding: 10px;
	box-sizing: border-box;
	margin-bottom: 10px;
}

.team_user_list .userteam_item_wrap .userteam_item{
	/*border: 1px solid #ddd;*/
	text-align: center;
	height: 100%;
}

.team_user_list .userteam_item_wrap .userteam_item .avatar{
	width: 116px;
	height: 116px;
	margin: auto;
	border: 5px solid #eee;
	border-radius: 50%;
	overflow: hidden;
}

/*visibility password register*/
#password{
	padding-right: 30px
}
.v_pwd_wrap{
	cursor: pointer;
	margin-left: -25px
}
.v_pwd img{
	width:18px; 
	height:18px;
	display: inline-block; 
	vertical-align: middle;
}
.show_pwd.v_pwd{
	display: inline-block;
}
.hide_pwd.v_pwd{
	display: none;
}

/* prev next link */

/*prev next link*/
.prev_link{
	display:block;
	float: left;
	text-align: left;
	max-width: 50%;
}
.prev_link .direction{
	display: inline-block;
	border-right: 8px solid #444;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 0px solid transparent;
}
.prev_link .logo{
	display: block;
	float: left
}
.prev_link .logo img{
	border : 1px solid #ddd
}
.prev_link .label{
	display: block;
	margin-left: 37px;
	margin-top: 8px;
}
.prev_link .label.post{
	margin-top: -2px;
}
.next_link{
	display:block;
	float: right;
	text-align: right;
	max-width: 50%;
}
.next_link .direction{
	display: inline-block;
	border-left: 8px solid #444;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 0px solid transparent;
}
.next_link .logo{
	display: block;
	float: right
}
.next_link .logo img{
	border : 1px solid #ddd
}
.next_link .label{
	display: block;
	margin-right: 37px;
	margin-top: 8px;
}
.next_link .label.post{
	margin-top: -2px;
}


.search_input_cr{
	background: #f9f9f9; 
	border: 1px solid #e9e9e9
}

.search_input_left{
	float: left
}

.search_input_right{
	float: right;
	height: 28px;
	padding: 2px;
	box-sizing: border-box
}

.search_input_wrap{
	display: inline-block;
	width: 278px;
}
.search_input{
	border: 1px solid #bbb;
	border-radius: 3px;
	width: 100%;
	height: 28px;
	padding: 5px;
	box-sizing: border-box;
	font-family: calibri, arial;
	font-size: 16px;
	display: inline-block;
	padding-right: 25px
}
.search_reset{
	height: 28px;
	width: 28px;
	padding: 5px;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin-left: -28px
}
.search_reset i:hover{
	color: #444;
}

.about_block{
	margin: 20px 0;
}

.about_block .illustration{
	width: 80px ;
	height: 80px ;
}

.about_block .illustration img{
	width: 80px ;
	height: 80px ;
}

.about_block .text{
	text-align: justify
}

.toleft .illustration{
	float: left;
}

.toright .illustration{
	float: right;
}

.toleft .text{
	margin-left: 100px
}

.toright .text{
	margin-right: 100px
}


/***************** tab ***************/
.content_tab_header_content{
	background: #fff;
    height: 32px;
    width: auto;
}
.content_tab_header_item{
	box-sizing: border-box;
	max-width: 25%;
    cursor: pointer;
    float: left;
    height: 32px;
    padding: 0 8px;
	color:#666;
}
.content_tab_header_item .content_tab_header_item_text{
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.content_tab_header_item.selected{
	color:#000
}
.content_tab_header_item .content_tab_header_item_text{
	padding-top:6px;
}
.content_tab_header_sep{
	background: #eee;
    height: 2px;
    padding: 2px 0;
    width: auto;
}
.content_tab_header_sep_slide{
	background: #bbb;
    display: block;
    height: 2px;
    width: 0px;
}
.content_tab_content_item{
    display: none;
}
.content_tab_content_item.selected{
    display: block;
}

/************** style event ***************/

#et_list{
	display: flex;
	flex-wrap: wrap;
}
.event_item{
	width: 33.333%;
	padding:10px;
	box-sizing: border-box;
}
.event_item .event_image {
	margin-bottom: 0px;
	position: relative;
	overflow: hidden;
}
.event_item .event_image:before {
    content: '';
    display: block;
    padding-top: 41.666%;
}

.event_item .event_image a img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.event_item .event_image a{
	display: block;
}
.event_item .detail {
	position:absolute; 
	background:rgba(0,0,0,0.4);
	z-index:3;
	display:block;
	top: 0px;
	width: 100%;
	color:#fff;
	box-sizing:border-box; 
	padding:3px 4px 4px
}
.event_item .detail .left{
	display:block; 
	float:left
}
.event_item .detail .right{
	display:block; 
	float:right;
}
.event_item .avatar_wrap {
	position:relative;
	text-align:center; 
	margin:auto; 
	margin-top:-70px; 
	width: 80px; 
	height: 80px;
	border-radius:50%; 
	border: 5px solid #fff;
}
.event_item .avatar_wrap img{
	width: 80px; 
	height: 80px;
	border-radius:50%;
}
.event_item .et_date_info i{
	color:#444;
}


#et_load_list{
	background:rgba(255,255,255,0.8);
	font-size:25px; 
	position:absolute;
	z-index:10;
	box-sizing:border-box; 
	padding-top:50px;
	text-align:center
}

/*edit event front*/
.meta_info #event_illustration, .meta_info #event_illustration_fix {
    max-width: 300px;
    height: 125px;
}


.list_tag .tag_item:hover{
	background: #ccc;
}

/* event view */
#et_view .introduction{
	text-align:justify; 
	font-weight:bold;
	color: #333;
}
#et_view .cover{
	background:#999; 
	height:240px; 
	width: calc( 100% - 420px ); 
	overflow:hidden; 
	float:left;
	position:relative;					
}
#map_event{
	position:absolute;
	width:100%;
	height:100%; 
	background:#bbb;
	display:none
}
#et_view .title{
	position: absolute;
	top:0px;
	background:rgba(0,0,0,0.35);

	width:100%;
	padding:16px;
	box-sizing:border-box;
	color:#fff;				
}
#et_view .title h1{
	margin: 0px;
	font-size:18px; 
	/*color:#000;*/
	text-shadow: 1px 1px 2px #000;
}
#et_view .location_wrap{
	text-align:right;
	background:rgba(255,255,255,0.7);
	position: absolute;
	width:100%;
	bottom:0px;
	padding: 10px;
	box-sizing: border-box;
}
#show_map_event{
	display:inline-block; 
	float:left;
	cursor:pointer;
	 padding: 0 12px;
}
#hide_map_event{
	float:left;
	cursor:pointer;
	display:none;
	padding: 0 12px;
}
#et_view .location_wrap .location{
	display:inline-block; 
	float:right;
	width: calc( 100% - 45px );
}
#et_view .participation_block{
	margin-left: calc( 100% - 400px ); 
	background:#789;
	/*height:240px;*/
	position: relative;
	/*border: 1px solid #bbb;*/
	box-sizing: border-box;
	/*overflow: hidden;*/
}
.participation_block .actions{
	position: relative;
	background:#f7f7f7;
	width:100%;
	height:50px;
	padding-top: 10px;
	padding-right: 5px;
	text-align: right;
	box-sizing: border-box;
	border:1px solid #bbb
}
.participation_block .actions .loading{
	display:none; 
	padding-top:4px
}
.participation_block .actions .loading img{
	width:20px; 
	height:20px;
	vertical-align:middle
}
.participation_block .header{
	background:#ddd;
	width:100%;
	height:50px;
	position: relative;
	box-sizing:border-box; 
	border:1px solid #bbb;
	padding:12px
}
.participation_block .body{
	position: relative;
	background:#fff;
	width:100%;
	border-left:1px solid #bbb;
	border-right:1px solid #bbb;
	box-sizing:border-box
}
.participation_block .list{
	position:relative; 
	height:70px; 
	background:#fff; 
	padding:8px;
	box-sizing:border-box;
	white-space:nowrap;
}

.participation_block .list .user_hover_info{
	width: 50px; 
	height: 50px;
}

.participation_block .list .user_hover_info img{
	width: 50px; 
	height: 50px;
	border-radius:50%;
}

.participation_block .list .bound_participations{
	width: 50px; 
	height: 50px;
	border-radius:50%;
	display:inline-block; 
	background:#ddd;
	text-align:center;
	vertical-align:top;
	box-sizing:border-box; 
	padding-top:15px;
}

.participation_block .resume{
	height:71px; 
	background:#f8f8f8;
	box-sizing: border-box;
	padding: 10px
}

.participation_block .resume .going, .participation_block .resume .maybe{
	display:inline-block; 
	padding-right:10px
}

/************* style blog **************/
.bgl{
	float:left;
	/*width:900px;*/
	margin-top:10px;
}
/*
.bgr{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
*/
#list_post{
	display: flex;
	/*justify-content: space-between;*/
	flex-wrap: wrap;
}
.post_item{
	width: 33.333%;
	padding:10px;
	box-sizing: border-box;
}
.post_item .post_title{
    font-size: 17px;
    margin: 0 0 8px;
	border: 1px solid #ddd; 
	background:#f8f8f8; 
	padding: 8px;
}
.post_item .post_title a{
	display:block
}
.post_item .meta_info{
    min-height: 14px;
	margin-bottom: 10px;
}
.post_item .meta_info {

}
.author_info{
	float: left;
}
.author_info img{
	display: inline-block;
	border-radius: 50%;
	vertical-align: middle;
}
.author_info .user_info{
	display: inline-block;
	vertical-align: middle;
}
.conmment_info{
	float: right;
}
.conmment_info i{
	display: inline-block;
	vertical-align: middle;
	color:#444;
	font-size: 20px
}
.conmment_info strong{
	display: inline-block;
	vertical-align: middle;
}
.date_info{
	float: left;
	margin-top: 10px;
}
.date_info i{
	display: inline-block;
	vertical-align: middle;
	color: #444;
	font-size: 20px;
}
.date_info strong{
	display: inline-block;
	vertical-align: middle;
}
.post_action{
	float: right;
	margin-top: 5px;
}
.post_action a{
	margin: 0px;
}
.post_item .post_image {
	margin-bottom: 0px;
	position: relative;
	overflow: hidden;

}
.post_item .post_image:before {
	content: '';
	display: block;
	padding-top: 41.666%;
}
.post_item .post_image a img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.post_item .post_image a{
	display: block;
}


/*edit post front*/
.meta_info{

}
.meta_info .meta_illustration{
	float:left;
	height: 130px;
	margin:5px 0
}

.meta_info .meta_title{
	margin-left: 310px;
}
.meta_info #post_illustration, .meta_info #post_illustration_fix{
	max-width: 300px;
	height: 125px;
}

.list_tag .tag_item:hover{
	background: #ccc;
}

/* blog view */
.bg_view .introduction{
	text-align:justify; 
	font-weight:bold;
	color: #333;
}
.bg_view .view_info{
	text-align:center;
	margin:10px; 
	position: relative;
}
.bg_view .view_info .cover{
	position:absolute;  
	border-radius:4px; 
	width:100%;
	height:100%;
}
.bg_view .view_info .content{
	filter: blur(0px); 
	border-radius:4px; 
	padding:40px 10px; 
	background:rgba(255,255,255,0.6)
}
.bg_view .view_info .content .title{
	font-weight:bold;
	text-align:center;
	margin-bottom:30px
}
.bg_view .view_info .content .title h1{
	font-size:20px; 
	color:#314145
}
.bg_view .view_info .content .author_avatar img{
	border-radius:50%;
	border:4px solid #fff
}
.bg_view .view_info .content .list_tags .tag_item{
	display: inline-block; 
	background: #555; 
	color:#fff; 
	padding: 2px 6px; 
	margin: 4px; 
	border-radius: 6px; 
	vertical-align:middle
}


@media screen and (max-width: 1220px)
{
	.ct{
		width:auto;
		margin-left:0px;
		margin-right:0px;
	}
}

@media screen and (max-width: 1050px)
{
	.team_user_list .userteam_item_wrap{
		width: 33.33%;
	}

}


@media screen and (max-width: 930px)
{
	.event_item {
		margin-bottom: 16px;
		width: 50%;
		clear: both;
	}

	.post_item {
		margin-bottom: 16px;
		width: 50%;
	}
}

@media screen and (max-width: 800px)
{
	#et_view .participation_block{
		margin-left: 0px; 
		width:100%;
	}
	#et_view .cover{
		width:100%; 
		margin-bottom: 20px;
		float: none;			
	}
}

@media screen and (max-width: 790px)
{

	.home_sl_info{
		width:100%;
		margin: 0 0 10px 0;
	}

	.home_pm_info{
		width:50%;
	}

	.home_fm_info{
		width:50%;
	}
}

@media screen and (max-width: 780px)
{
	.team_user_list .userteam_item_wrap{
		width: 50%;
	}
	
    .pm_form{
		float:none;
		width:auto;
	}

	.pm_form_wrap{
		width:350px;
		margin:auto;
	}
	
    .pm_form_wrap .default_input{
		width:100%
	}

	.pm_desc{
		margin-top:10px;
		margin-left:0px
	}
}

@media screen and (max-width: 620px)
{

	.meta_info #event_illustration, .meta_info #event_illustration_fix {
		width: auto;
		max-width: 100%;
		height: auto;
	}
	.meta_info .meta_illustration{
		float:none;
		height: auto;
		text-align: center;
	}

	.meta_info #post_illustration, .meta_info #post_illustration_fix{
		width: auto;
		max-width: 100%;
		height: auto;
	}
	.meta_info .meta_title{
		margin-left: 0px;
	}
}

@media screen and (max-width: 530px)
{
	.event_item{
		width: 100%;
	}

	.post_item{
		margin-bottom:16px;
		width: 100%;
	}
}

@media screen and (max-width: 500px)
{

	.pagination_item{
		min-width:32px;
	}

	.search_input_left{
		float: none;
	}

	.search_input_right{
		float: none;
	}
	.label_search_input{
		display: block;
	}
	.search_input_wrap{
		display: block;
		width: 100%;
		box-sizing: border-box;
	}
	/*
	.search_input{
		width: calc(100% - 28px);
	}
	*/


	.about_block .illustration{
		width: 80px ;
		height: 80px ;
	}

	.about_block .illustration img{
		width: 80px ;
		height: 80px ;
	}

	.about_block .text{
		text-align: justify
	}

	.toleft .illustration{
		float: none;
		text-align: center;
		width: 100%;
		margin-bottom: 14px;
	}

	.toright .illustration{
		float: none;
		text-align: center;
		width: 100%;
		margin-bottom: 14px;
	}

	.toleft .text{
		margin-left: 0px
	}

	.toright .text{
		margin-right: 0px
	}
}

@media screen and (max-width: 480px)
{
    .default_input{
		height: 40px;
		padding: 10px 5px;
	}
}

@media screen and (max-width: 450px)
{
	body{
		font-size: 16px;
	}
	.home_pm_info{
		width:100%;
		margin: 0 0 10px 0;
	}

	.home_fm_info{
		width:100%;
	}
}

@media screen and (max-width: 390px)
{

	.pm_form_wrap{
		width:100%;
		box-sizing:border-box
	}
}

@media screen and (max-width: 370px)
{
    .default_input, .default_textarea_2{
		width: 100%;
	}
}