.popup_user_info{
	box-shadow: 1px 1px 5px #999;
	position:absolute;
	border-radius:3px; 
	border:1px solid #eee; 
	background:#fff; 
	padding:10px 10px;
	z-index:10;
	white-space: normal;
}

#ur_gl{
	background:#ddd;
	padding-top:6px;
}
#ur_dl{
	
}
#ur_onglet_head{
	/*border-bottom: 2px solid #ccc; */
	margin: 0px 0 0 0; 
	padding-top:10px;
	background:#ddd;
}
#ur_onglet_head .tab_ur_item{
	cursor:pointer;
	display:inline-block;
	padding: 10px;
	color:#444;
	background:#bbb;
	border-radius: 2px 2px 0 0;
}

#ur_onglet_head .tab_ur_item.selected{
	color:#000;
	background:#fff;
}

.ctab_ur_item{
	display: none;
}
.ctab_ur_item.selected{
	display: block;
}
#change_avatar{
	cursor:pointer;
	position: relative;
}

#change_avatar:hover #change_avatar_label span{
	height:103%;
	padding-top: 46%;
}

#change_avatar_label{
	width:100%; 
	height:100%; 
	position:absolute;
	text-align:center; 
	display:block;
	overflow: hidden;
	border-radius: 50%;
}

#change_avatar_label span{
	display:block; 
	background:rgba(255,255,255,0.8); 
	border: 1px solid #aaa;
	border-radius: 3px;
	width:103%; 
	height:0%;
	box-sizing: border-box;
	padding-top: 0%;
	margin-left:-2px;
	margin-top:-2px;
	overflow: hidden;
	transition: all 0.2s ease;
}

#avatar_wrapper{
	width:116px; 
	height:116px; 
	overflow:hidden; 
	border-radius: 50% 50%; 
	border: 3px solid #ddd;
	background:#ddd;
	margin-top: -35px
}

#user_avatar{
	width: 116px; 
	height: 116px
}

#avatars_wrapper{
	height: 267px; 
	overflow:auto; 
	margin: 5px 0; 
	text-align:center
}

#avatars_wrapper .avatar_item{
	display:inline-block; 
	border: 4px solid #eee; 
	margin:2px;
	border-radius:5px;
	position:relative;
}

#avatars_wrapper .avatar_item:hover{
	border-color: #aaa;
}

#avatars_wrapper .avatar_item.active{
	border-color: #666;
}

#avatars_wrapper .user_avatar_popup{
	cursor:pointer;
	display:block;
	width: 116px; 
	height: 116px;
	border-radius:0px
}

#avatars_wrapper .delete_avatar{
	cursor:pointer; 
	display:block;
	position:absolute;
	width:18px; 
	height:18px; 
	margin-left:96px;
	margin-top:1px;
	background:#fff;
	border:1px solid #666;
	border-radius:50% 50%;
	padding-top:4px;
	box-sizing:border-box
}

#avatars_wrapper .delete_avatar:hover{
	background:#aaa;
}

.fas.i_ur{
	font-size: 13px;
	color: #333;
}

.user_hover_info{
	display:inline-block; 
	position: relative;
}

.user_comment_item .illustration_wrap{
	width:60px; 
	height:60px;
	float:left
}

.user_comment_item .illustration_wrap img{
	width:60px;
	height:60px
}

.user_comment_item .comment_wrap{
	margin-left:70px
}