<span class="ddt dd_tdfault">
	<a class="dd_item" href="{{ path('admin_job_add') }}">
		<span class="icon"><img src="{{ asset('image/add_icon.png') }}" /></span><span class="label">Nouvelle offre d'emploi</span>
	</a>
	<a class="dd_item" href="{{ path('admin_job_creation') }}">
		<span class="icon"><img src="{{ asset('image/list_icon.png') }}" /></span><span class="label">En cours de création</span>
	</a>
</span>