<div>
	{% if events | length == 0 %}
		<div class="mg_v20 tacenter">
			<strong>Aucun évènement à afficher</strong>
		</div>
	{% else %}
		<div id="et_list">
			{% for event in events %}
				{{ include("event/include/event_item.html.twig") }}
			{% endfor %}
			<div class="both"></div>
		</div>
	{% endif %}
</div>