{% extends "front.html.twig" %}

{% block title %}
  Emplois
{% endblock %}

{% block body %}
	<div class="cr">
		<div class="ct">
			<div class="mg_10">
				Emplois
			</div>
		</div>
	</div>
{% endblock %}
