<div class="dialog">
	<div class="header">
		<div class="title">
			Je crée l'offre d'emploi
		</div>
		<div class="button_closable">
			<i class="fas fa-times-circle"></i>
		</div>
	</div>
	<div class="pd_5">
		<div class="mg_5 tajustify">
			En confirmant cette étape, votre offre sera validé par notre équipe. Une fois validé il sera publié dans notre liste d'emploi. 
			A noter qu'avant la validation vous ne pouvez pas modifier les détails de votre offre. 
			Si vous voulez apporter encore quelques modifications, veuillez annuler cette étape.
		</div>
	</div>
	<div class="action">
		<span class="standar_button button_closable">Annuler</span>
		<a class="standar_button" href="{{ path('job_manager_dotovalid', {'job_id' : job.id}) }}">Confirmer la soumission</a>
	</div>
</div>