{% extends "front.html.twig" %}

{% block title %}
  Edition de l'offre #{{ job.id }}
{% endblock %}


{% block body %}
	<div class="cr entity_edit">
		<div class="ct">
			<div class="mg_10">
				{{ include("job/include/header_job_edit.html.twig") }}

				
				{{ include("job/include/footer_job_edit.html.twig") }}
			</div>
		</div>
	</div>
{% endblock %}
