{% extends "front.html.twig" %}

{% block title %}
  Secteur - {{ sector.name }}
{% endblock %}

{% block body %}
	<div class="cr">
		<div class="ct">
			<div class="mg_10">
				Secteur - {{ sector.name }}
			</div>
		</div>
	</div>
{% endblock %}
