{% extends "front.html.twig" %}

{% block title %}Offre - {{ job.title }}{% endblock %}

{% block metadescription %}
	
{% endblock %}


{% block body %}
	<div class="cr">
		<div class="mg_v10">
			<div class="ct">
				<div id="jb_view">
					<div class="mg_10">
						{{ job.title }}
					</div>
				</div>
			</div>
		</div>
	</div>
	
{% endblock %}
