{% extends "front.html.twig" %}

{% block title %}
  A propos
{% endblock %}


{% block body %}
	<div class="cr">
		<div class="ct">
			<div class="mg_10">
				<div class="label_title">
					<strong>A propos du {{ dns }}</strong>
				</div>
				<div class="tacenter mg_v10">
					Vous êtes étudiants ou non, vous cherchez un établissement à intégrer, ou vous voulez tout simplement savoir les dernières actualités sur les établissements exisants?
					<br />
					<br />
					Alors vous êtes tombés juste sur le bon site. bonne navigation!!!
				</div>
			</div>
		</div>
	</div>
{% endblock %}
