{% extends "front.html.twig" %}

{% block title %}
  Equipe
{% endblock %}


{% block body %}
	<div class="cr">
		<div class="ct">
			<div>
				L'équipe.
			</div>
			<div>
				Lorem ipsum
			</div>
		</div>
	</div>
{% endblock %}
