<div id="copyright" class="cr">
	<div id="copyright_content" class="ct bold" style="text-align:center">
		<div class="mg_v10"><a href="{{ path('platform_home') }}" class=""><img src="{{ asset('image/oio.svg')  }}" style="width:35px; height:35px;display: inline-block; vertical-align: middle;" /></a></div>
		<div><span>"Ny fianarana no lova tsara indrindra"</span> &nbsp;-&nbsp; <span>Copyright © 2019 oio.</span></div>
	</div>
</div>