<div class="dialog">
	<div class="header">
		<div class="title">
			Je crée mon article
		</div>
		<div class="button_closable">
			<i class="fas fa-times-circle"></i>
		</div>
	</div>
	<div class="pd_5">
		<div class="mg_5 ta_j">
			En confirmant cette étape, votre article sera validé par notre équipe. Une fois validé il sera publié dans notre liste d'articles. 
			A noter qu'avant la validation vous ne pouvez pas modifier les détails de votre article. 
			Si vous voulez apporter encore quelques modifications, veuillez annuler cette étape.
		</div>
	</div>
	<div class="action">
		<span class="standar_button button_closable">Annuler</span>
		<a class="standar_button" href="{{ path('blog_manager_dotovalid_post', {'post_id' : post.id}) }}">Confirmer la soumission</a>
	</div>
</div>