<div class="dialog">
	<div class="header">
		<div class="title">
			Je crée mon article
		</div>
		<div class="button_closable">
			<i class="fas fa-times-circle"></i>
		</div>
	</div>

	<form name="form_add_post" method="post" action="{{ path('blog_manager_doadd_post') }}">
		<div class="pd_5">
			<div class="pd_5">
				<div class="info_msg mg_b10 ta_j">
					Cette fenêtre vous permet de créer un article. 
					Après avoir fourni le titre, qui est l'information obligatoire, 
					vous allez être redirigé vers la page dans laquelle vous pourrez éditer les détails de l'article.
				</div>
				<div>
					<div>
						<div><label for="title" class="required">Titre * : </label></div>
						<div><input type="text" id="title" name="title" required pattern=".*\S+.*" title="Ce champ est requis" class="default_input" /></div>
					</div>
				</div>
			</div>
		</div>
		<div class="action">
			<span class="standar_button button_closable">Annuler</span>
			<button type="submit" id="add" name="add" class="standar_button">Creer mon article</button>
		</div>
	</form>
</div>