<div style="background:#fff;">
	<div style="border-bottom:1px solid #ddd; padding: 10px;  height:24px; ">
		<div style="float:left">
			Je crée mon article
		</div>
		<div style="float:right;cursor: pointer; " class="button_closable">
			<img src="{{ asset('image/close_icon.png') }}" style="width:16px; height:auto" alt="x" />
		</div>
	</div>
	<div class="pd_5">
		<div class="mg_5 tajustify">
			En confirmant cette étape, votre article sera validé par notre équipe. Une fois validé il sera publié dans notre liste d'articles. 
			A noter qu'avant la validation vous ne pouvez pas modifier les détails de votre article. 
			Si vous voulez apporter encore quelques modifications, veuillez annuler cette étape.
		</div>
	</div>
	<div class="sp mg_b10"></div>
	<div class="taright pd_b10 pd_r10">
		<span class="standar_button button_closable">Annuler</span>
		<a class="standar_button" href="{{ path('blog_manager_dotovalid_post', {'post_id' : post.id}) }}">Confirmer la soumission</a>
	</div>
</div>