<br />
Bonjour {{ user.name }},
<br />
Voici <a href="{{ urlToken }}" style="text-decoration: none; color: #15313c">le lien</a> qui permet de reinitialiser votre mot de passe :
<br />
<div style="background: #f8f8f8; border: 1px solid #ddd; padding: 5px; border-radius: 2px; margin: 5px 0 ">
    <a href="{{ urlToken }}" style="text-decoration: none; color: #15313c">{{ urlToken }}</a>
</div>
<br />
<br />
En suivant ce lien vous recevrez après un deuxième mail qui contiendra votre nouveau mot de passe.
<br />
<br />