<div>
	<div>Vous pouvez vous connecter sur le site avec votre nouvel identifiant :</div>
	<div style="background: #f8f8f8; border: 1px solid #ddd; padding: 5px; border-radius: 2px; margin: 5px 0 ">
		<div>Email : <strong>{{ user.email }}</strong></div>
		<div>Mot de passe : <strong>{{ plainpassword }}</strong></div>
	</div>
	<div>Cliquez <a target="_blank" style="text-decoration: none; color: #15313c" href="{{ urlLogin }}" ><strong>ici</strong></a> pour vous connecter.</div>
</div>
