{% extends "front.html.twig" %}

{% block title %}
  Catégories d'établissements
{% endblock %}


{% block body %}
	<div class="cr">
		<div class="ct">
			<div class="mg_t10">
				<div class="search" data-item-display="block">
					<div class="search_input_cr mg_h10 pd_5">
						<div class="search_input_left">
							<label for="search_input" class="label_search_input">Rechercher :</label> <span class="search_input_wrap"><input type="text" id="search_input" class="search_input"/><!--
						--><span class="search_reset"><i class="fas fa-times"></i></span><!--
								--></span>
						</div>
						<div class="search_input_right">
							<span class="result_state va_m">{{ categories | length }} résultat{% if categories | length > 1 %}s{% endif %}</span>
						</div>
						<div class="both"></div>
					</div>
					<div class="sl_list_cat">
						{% for category in categories %}
							{{ include("school/include/school_category_item.html.twig") }}
						{% endfor %}
						<div class="both"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
