<div>
	<div><strong>Nom</strong> : {{ contact.name }}</div>
	<div><strong>Email</strong> : {{ contact.email }}</div>
	<div><strong>Téléphone</strong> : {{ contact.phone }}</div>
	<div><strong>Message</strong> : {{ contact.message }}</div>
</div>
