<div class="dialog">
	<div class="header">
		<div class="title">
			Connexion
		</div>
		<div class="button_closable">
			<i class="fas fa-times-circle"></i>
		</div>
	</div>

	<form action="{{ path('user_login_ajax_check') }}" method="post" id="form_login_ajax">
		<div class="pd_5">
			<div class="pd_5">
				<div>
					<div class="mg_b10">
						<a href="{{ path('user_register') }}">
							Cliquez ici si vous n'êtes pas encore inscrit.
						</a>
					</div>
					<div>
						<div><label for="username" class="required">Pseudo ou Email *:</label></div>
						<div><input type="text" id="username" name="_username" required="required" value="{{ last_username }}" class="default_input" /></div>
					</div>
					<div>
						<div><label for="password" class="required">Mot de passe *:</label></div>
						<div><input type="password" id="password" name="_password" required="required" class="default_input" /></div>
					</div>
				</div>
			</div>
			<div id="login_msg" class="mg_5"></div>
		</div>
		<div class="action">
			<div class="loading_wrap">
				Chargement ...
			</div>
			<div class="btn_wrap">
				<span class="standar_button button_closable">Annuler</span>
				<button type="submit" id="login" name="login" class="standar_button">Connexion</button>
			</div>
		</div>
	</form>
</div>