{% extends "front.html.twig" %}

{% block title %}
	Récupération de mot de passe
{% endblock %}


{% block body %}
	<div class="cr">
		<div class="ct">
			<div class="mg_h10">
				<div class="label_title">
					<span style="font-weight:bold">Récupération de mot de passe.</span>
				</div>
				<div class="pm_bloc">
					<div class="pm_form">
						<form name="" method="post" action="{{ path('user_set_new_password') }}" id="form-inscription">
							<div class="pm_form_wrap">
								<div>                
									<div><label for="email" class="required">Votre email :</label></div>
									<div><input type="email" id="email" name="email" required="required" value="" class="default_input" /></div>
									{% if error != "" %}
										<div class="mg_10">
											<strong>
												{{ error | raw }}
											</strong>
										</div>
									{% endif %}
								</div>
								
								<div style="margin-top : 10px">
									<button type="submit" id="Inscription" name="setNewPassword" class="standar_button">Récuperer mon mot de passe</button>
								</div>
							</div>
						</form>
					</div>
					<div class="pm_desc">
						<h1>
							Cette page vous permet de récuperer votre mot de passe
						</h1>
						<p>
							Veuillez saisir l'adresse mail avec laquelle vous vous êtes inscrit. <br />
							Un mail vous sera envoyé permettant ainsi de suivre la procédure de récuperation de votre mot de passe.
						</p>
					</div>
				</div>
				<div class="both"></div>
			</div>
		</div>
	</div>
{% endblock %}
