{% extends "front.html.twig" %}

{% block title %}
	Récupération de mot de passe
{% endblock %}


{% block body %}
	<div class="cr">
		<div class="ct">
			<div class="mg_h10">
				<div style="border: 1px solid #ddd; background:#f8f8f8; padding: 5px; margin:10px 0">
					<span style="font-weight:bold">Récupération de mot de passe</span>
				</div>
				<div>
					<div class="ta_c">
						<div class="info_msg">
							{{ user.name }}, votre nouveau mot de passe est envoyé par mail sur {{ user.email }}. <br />
							Si dans le cas ou vous trouvez pas le message dans votre boîte de réception, 
							veuillez vérifier dans votre dossier spam.
						</div>
						<div class="mg_v10">
							<a class="link standar_button" href="{{ path('user_login') }}">
								<span>Se connecter</span>
							</a>
						</div>
					</div>
				</div>
				<div class="both"></div>
			</div>
		</div>
	</div>
{% endblock %}
