{% extends "front.html.twig" %}

{% block title %}
	Récupération de mot de passe
{% endblock %}


{% block body %}
	<div class="cr">
		<div class="ct">
			<div class="mg_h10">
				<div style="border: 1px solid #ddd; background:#f8f8f8; padding: 5px; margin:10px 0">
					<span style="font-weight:bold">Récupération de mot de passe</span>
				</div>
				<div>
					<div class="tacenter">
						<p>un email est envoyé sur {{ user.email }}. Et quia Montius inter dilancinantium manus spiritum efflaturus Epigonum et Eusebium nec professionem nec dignitatem ostendens aliquotiens increpabat, qui sint hi magna quaerebatur industria, et nequid intepesceret, Epigonus e Lycia philosophus ducitur et Eusebius ab Emissa Pittacas cognomento, concitatus orator, cum quaestor non hos sed tribunos fabricarum insimulasset promittentes armorum si novas res agitari conperissent.</p>
					</div>
				</div>
				<div class="both"></div>
			</div>
		</div>
	</div>
{% endblock %}
