{% extends "front.html.twig" %}

{% block title %}
	Récupération de mot de passe
{% endblock %}


{% block body %}
	<div class="cr">
		<div class="ct">
			<div class="mg_h10">
				<div style="border: 1px solid #ddd; background:#f8f8f8; padding: 5px; margin:10px 0">
					<span style="font-weight:bold">Récupération de mot de passe</span>
				</div>
				<div>
					<div class="info_msg pd_10 mg_b10">
						un email vient d'être envoyé à l'adresse {{ user.email }}. 
						Cet email vous indique la suite pour la procédure de récupération de votre mot de passe.
					</div>
				</div>
				<div class="both"></div>
			</div>
		</div>
	</div>
{% endblock %}
