<span class="dd_target dd_tdfault">
	<a class="link dd_item" href="{{ path('admin_event_add') }}">
		<span class="icon"><img src="{{ asset('image/add_icon.png') }}" /></span><span class="label">Nouvel évènement</span>
	</a>
</span>