<span class="dd_target dd_tdfault">
	<a class="link dd_item" target="_blank" href="{{ path('event_viewbyid', {'id': event.id}) }}">
		<span class="icon"><img src="{{ asset('image/view_icon.png') }}" /></span><span class="label">Aperçu</span>
	</a>
	<a class="link dd_item" href="{{ path('admin_event_schools', {'event_id': event.id}) }}">
		<span class="icon"><img src="{{ asset('image/list_icon.png') }}" /></span><span class="label">Etablissements</span>
	</a>
</span>